<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="pricing-tab1">

  <div class="pricing-container1">

    <div class="pricing-header">
      Video Price Packages to Help You Unlock Your Sales Potential
    </div>

    <div class="pricing-tables-div">

      <div class="pricing-package">

        <div class="price-type">
          Free
        </div>

        <div class="price-description">
          Create professional-quality videos without any investment.
          Unleash your creativity and take the first step towards boosting
          your sales with our free video creation plan.
        </div>

        <div class="price-cost">
          <span class="price-num">£0.00</span> <span class="price-note">No Card Required</span>
        </div>

        <div>
          <%= link_to "Sign Up For Free Now", new_user_registration_path, class:"price-button"  %>
        </div>

        <div class="pricing-list-header">
          This Free Package Includes:
          <ul class="price-list">
          <li><i class='fa fa-check' style='color:#f051ce'></i> Up to 20 Videos per Month</li>
          <li><i class='fa fa-check' style='color:#f051ce'></i> insert</li>
          <li><i class='fa fa-check' style='color:#f051ce'></i> insert</li>
          <li><i class='fa fa-check' style='color:#f051ce'></i> insert</li>
          </ul>
        </div>

      </div>

      <div class="pricing-package">

        <div class="price-type">
          Beginner
        </div>

        <div class="price-description">
          Take command of your sales process with advanced features and customization options.
          Stand out from the competition and attract more clients with professional-quality sales videos.
        </div>

        <div class="price-cost">
          <span class="price-num">£19.99</span> <span class="price-note">* billed monthly or $_ billed anually.</span>
        </div>

        <div class="price-button">
          Buy Now
        </div>

        <div class="pricing-list-header">
          Includes the Free Package plus:
          <ul class="price-list">
          <li><i class='fa fa-check' style='color:#f051ce'></i> Up to 200 Videos per Month</li>
          <li><i class='fa fa-check' style='color:#f051ce'></i> insert</li>
          <li><i class='fa fa-check' style='color:#f051ce'></i> insert</li>
          <li><i class='fa fa-check' style='color:#f051ce'></i> insert</li>
          </ul>
        </div>

      </div>

      <div class="pricing-package">

        <div class="price-type">
          Pro
        </div>

        <div class="price-description">
          Take your video strategy to the next level with the most advanced features and unlimited videos
          to create a unique sales approach that sets you apart and drives more success.
        </div>

        <div class="price-cost">
          <span class="price-num">£39.99</span> <span class="price-note">* billed monthly or $_ billed anually.</span>
        </div>

        <div class="price-button">
          Buy Now
        </div>

        <div class="pricing-list-header">
          Includes the Beginner Package plus:
          <ul class="price-list">
          <li><i class='fa fa-check' style='color:#f051ce'></i> Unlimited Number of Videos</li>
          <li><i class='fa fa-check' style='color:#f051ce'></i> insert</li>
          <li><i class='fa fa-check' style='color:#f051ce'></i> insert</li>
          <li><i class='fa fa-check' style='color:#f051ce'></i> insert</li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>
