
<div class="pricing-tab-2">

  <div class="pricing-container2">

    <div class="pricing-header">Compare Packages</div>

    <div class="pricing-table-div">

      <table class="pricing-table">

      <tr class="pricing-table-top-row">

        <td class="pricing-table-first-cell"></td>

        <td class='pricing-table-other-cell'>
          <div class="pricing-table-header-space">
            <div class="pricing-table-type">Free</div>
            <div class="pricing-table-cost"><b>$0</b> / month</div>
            <%= link_to "Register For Free", new_user_registration_path, class: "pricing-table-button" %>
          </div>
        </td>

        <td class='pricing-table-other-cell'>
          <div class="pricing-table-header-space">
            <div class="pricing-table-type">Beginner</div>
            <div class="pricing-table-cost"><b>$19.99</b> / month</div>
            <div class="pricing-table-button">Buy Now</div>
          </div>
        </td>

        <td class='pricing-table-other-cell'>
          <div class="pricing-table-header-space">
            <div class="pricing-table-type">Pro</div>
            <div class="pricing-table-cost"><b>$39.99</b> / month</div>
            <div class="pricing-table-button">Buy Now</div>
          </div>
        </td>
      </tr>

      <tr class="pricing-table-normal-row">
        <td class="pricing-table-first-cell">
        Video Creation
        </td>

        <td class='pricing-table-other-cell'>
        </td>

        <td class='pricing-table-other-cell'>
        </td>

        <td class='pricing-table-other-cell'>
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Videos per month
        </td>

        <td class='pricing-table-other-cell'>
        20
        </td>

        <td class='pricing-table-other-cell'>
        200
        </td>

        <td class='pricing-table-other-cell'>
        Unlimited
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Video Editing
        </td>

        <td class='pricing-table-other-cell'>
        <i class='fa-solid fa-check'></i>
        </td>

        <td class='pricing-table-other-cell'>
        <i class='fa-solid fa-check'></i>
        </td>

        <td class='pricing-table-other-cell'>
        <i class='fa-solid fa-check'></i>
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-normal-row">
        <td class="pricing-table-first-cell">
        Insert Header
        </td>

        <td class='pricing-table-other-cell'>
        </td>

        <td class='pricing-table-other-cell'>
        </td>

        <td class='pricing-table-other-cell'>
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-normal-row">
        <td class="pricing-table-first-cell">
        Insert Header
        </td>

        <td class='pricing-table-other-cell'>
        </td>

        <td class='pricing-table-other-cell'>
        </td>

        <td class='pricing-table-other-cell'>
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-normal-row">
        <td class="pricing-table-first-cell">
        Insert Header
        </td>

        <td class='pricing-table-other-cell'>
        </td>

        <td class='pricing-table-other-cell'>
        </td>

        <td class='pricing-table-other-cell'>
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      <tr class="pricing-table-top-row">
        <td class="pricing-table-first-cell">
        Insert Feature
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>

        <td class='pricing-table-other-cell'>
        Insert Yes/NO
        </td>
      </tr>

      </table>

    </div>
    <%# end of table %>

  </div>
  <%# end of container %>

</div>
<%# end of tab %>
