
  <div class="body_wrapper">
    <%= render "pages/navbar/saasnav" %>
    <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Our pricing</h1>
                    <p class="f_400 w_color f_size_16 l_height26">For the moment we only offer tailored packages <br>
                    dependent on your business requirements</p>
                </div>
            </div>
        </section>

        <section class="pricing_area_two sec_pad">
            <div class="container custom_container p0">
                <%# <div class="sec_title text-center">
                    <h2 class="f_p f_size_30 l_height50 f_600 t_color2">Simple Pricing for Your Team</h2>
                    <p class="f_400 f_size_16 l_height30 mb-0">Why I say old chap that is spiffing lavatory chip shop
                        gosh off his nut,<br> smashing boot are you taking the piss posh.!</p>
                </div>
                <ul class="nav nav-tabs price_tab price_tab_two mt_70" role="tablist">
                    <li class="nav-item">
                        <div class="nav-link active active_hover" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane" role="tab" aria-controls="home-tab" aria-selected="true">
                            Billed monthly</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                            role="tab" aria-controls="profile-tab" aria-selected="false">Billed annually</div>
                    </li>
                </ul> %>
                <div class="tab-content price_content price_content_two">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                        aria-labelledby="home-tab">
                        <div class="row center">
                            <%# <div class="col-lg-4 col-sm-6">
                                <div class="price_item">
                                    <img src="img/price/one.png" alt="">
                                    <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Education</h5>
                                    <p>Create your first online course</p>
                                    <div class="price f_700 f_size_40 t_color2">$25.00<sub class="f_size_16 f_400">/
                                            mo</sub></div>
                                    <ul class="list-unstyled p_list">
                                        <li><i class="ti-check"></i>Only 2 Operators</li>
                                        <li><i class="ti-check"></i>Abandoned Cart</li>
                                        <li><i class="ti-check"></i>Facebook & Instagram Ads</li>
                                        <li><i class="ti-close"></i>Order Notifications</li>
                                        <li><i class="ti-close"></i>Landing Pages</li>
                                    </ul>
                                    <a href="#" class="price_btn btn_hover">Start Today</a>
                                </div>
                            </div> %>
                            <div class="col-lg-4 col-sm-6">
                                <div class="price_item">
                                    <div class="tag"><span>Unlimited</span></div>
                                    <img src="img/price/two.png" alt="">
                                    <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Custom</h5>
                                    <p>Experience the best possible solution fully tailored to your business requirements</p>
                                    <%# <div class="price f_700 f_size_40 t_color2">$25.00<sub class="f_size_16 f_400">/
                                            mo</sub></div> %>
                                    <ul class="list-unstyled p_list">
                                        <li><i class="ti-check"></i>Custom amount of videos</li>
                                        <li><i class="ti-check"></i>As many users as required</li>
                                        <li><i class="ti-check"></i>Professionally curated content</li>
                                        <li><i class="ti-close"></i>Media engagement consultation</li>
                                        <li><i class="ti-close"></i>On demand support</li>
                                    </ul>
                                    <a href="#" class="price_btn btn_hover">Contact sales</a>
                                </div>
                            </div>
                            <%# <div class="col-lg-4 col-sm-6">
                                <div class="price_item">
                                    <img src="img/price/three.png" alt="">
                                    <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Business</h5>
                                    <p>Experience thebest of lorem</p>
                                    <div class="price f_700 f_size_40 t_color2">$99.00<sub class="f_size_16 f_400">/
                                            mo</sub></div>
                                    <ul class="list-unstyled p_list">
                                        <li><i class="ti-check"></i>Only 2 Operators</li>
                                        <li><i class="ti-check"></i>Abandoned Cart</li>
                                        <li><i class="ti-check"></i>Facebook & Instagram Ads</li>
                                        <li><i class="ti-close"></i>Order Notifications</li>
                                        <li><i class="ti-close"></i>Landing Pages</li>
                                    </ul>
                                    <a href="#" class="price_btn btn_hover">Start Today</a>
                                </div>
                            </div> %>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="price_item">
                                    <div class="tag"><span>Popular</span></div>
                                    <img src="img/home2/price-3.png" alt="">
                                    <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Professional</h5>
                                    <p>Create your first online course</p>
                                    <div class="price f_700 f_size_40 t_color2">$25.00<sub class="f_size_16 f_400">/
                                            mo</sub></div>
                                    <ul class="list-unstyled p_list">
                                        <li><i class="ti-check"></i>Custom amount of videos</li>
                                        <li><i class="ti-check"></i>As many users as you want</li>
                                        <li><i class="ti-check"></i>Professionally edited content</li>
                                        <li><i class="ti-close"></i>Media engagement consultation</li>
                                        <li><i class="ti-close"></i>On demand support</li>
                                    </ul>
                                    <a href="#" class="price_btn btn_hover">Contact sales</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="price_item">
                                    <img src="img/home2/price-2.png" alt="">
                                    <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Education</h5>
                                    <p>Create your first online course</p>
                                    <div class="price f_700 f_size_40 t_color2">$25.00<sub class="f_size_16 f_400">/
                                            mo</sub></div>
                                    <ul class="list-unstyled p_list">
                                        <li><i class="ti-check"></i>Only 2 Operators</li>
                                        <li><i class="ti-check"></i>Abandoned Cart</li>
                                        <li><i class="ti-check"></i>Facebook & Instagram Ads</li>
                                        <li><i class="ti-close"></i>Order Notifications</li>
                                        <li><i class="ti-close"></i>Landing Pages</li>
                                    </ul>
                                    <a href="#" class="price_btn btn_hover">Start Today</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="price_item">
                                    <img src="img/home2/price-1.png" alt="">
                                    <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Business</h5>
                                    <p>Create your first online course</p>
                                    <div class="price f_700 f_size_40 t_color2">$25.00<sub class="f_size_16 f_400">/
                                            mo</sub></div>
                                    <ul class="list-unstyled p_list">
                                        <li><i class="ti-check"></i>Only 2 Operators</li>
                                        <li><i class="ti-check"></i>Abandoned Cart</li>
                                        <li><i class="ti-check"></i>Facebook & Instagram Ads</li>
                                        <li><i class="ti-close"></i>Order Notifications</li>
                                        <li><i class="ti-close"></i>Landing Pages</li>
                                    </ul>
                                    <a href="#" class="price_btn btn_hover">Start Today</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="s_pricing_area sec_pad">
            <div class="container custom_container">
                <div class="sec_title text-center mb_70">
                    <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Unlimited Courses and Students on all Plans</h2>
                    <p class="f_400 f_size_18 l_height34">Why I say old chap that is spiffing lavatory chip shop gosh
                        off his nut, smashing boot<br> are you taking the piss posh loo brilliant matie boy.!</p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-sm-6">
                        <div class="s_pricing-item">
                            <img class="shape_img" src="img/saas/price_line1.png" alt="">
                            <div class="s_price_icon p_icon1">
                                <i class="flaticon-mortarboard"></i>
                            </div>
                            <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">Education</h5>
                            <p class="f_p f_400">Create your first online course</p>
                            <div class="price f_size_40 f_p f_700">$49.00<sub class="f_400 f_size_16">/ mo</sub></div>
                            <ul class="list-unstyled mt_30">
                                <li>Product Recommendations</li>
                                <li>Abandoned Cart</li>
                                <li>Facebook & Instagram Ads</li>
                                <li>Order Notifications</li>
                                <li>Landing Pages</li>
                            </ul>
                            <a href="#" class="price_btn btn_hover mt_30">Choose This Plan</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="s_pricing-item">
                            <img class="shape_img" src="img/saas/price_line2.png" alt="">
                            <div class="tag_label">Popular</div>
                            <div class="s_price_icon p_icon2">
                                <i class="flaticon-lightbulb"></i>
                            </div>
                            <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">Professional</h5>
                            <p class="f_p f_400">Our most popular plan</p>
                            <div class="price f_size_40 f_p f_700">$49.00<sub class="f_400 f_size_16">/ mo</sub></div>
                            <ul class="list-unstyled mt_30">
                                <li>Product Recommendations</li>
                                <li>Abandoned Cart</li>
                                <li>Facebook & Instagram Ads</li>
                                <li>Order Notifications</li>
                                <li>Landing Pages</li>
                            </ul>
                            <a href="#" class="price_btn btn_hover mt_30">Choose This Plan</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="s_pricing-item">
                            <img class="shape_img" src="img/saas/price_line3.png" alt="">
                            <div class="s_price_icon p_icon3">
                                <i class="flaticon-target"></i>
                            </div>
                            <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">Business</h5>
                            <p class="f_p f_400">Experience thebest of lorem</p>
                            <div class="price f_size_40 f_p f_700">$99.00<sub class="f_400 f_size_16">/ mo</sub></div>
                            <ul class="list-unstyled mt_30">
                                <li>Product Recommendations</li>
                                <li>Abandoned Cart</li>
                                <li>Facebook & Instagram Ads</li>
                                <li>Order Notifications</li>
                                <li>Landing Pages</li>
                            </ul>
                            <a href="#" class="price_btn btn_hover mt_30">Choose This Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </div>
    <script src="https://droitthemes.com/html/saasland/js/jquery-3.6.0.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/js/popper.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/js/bootstrap.min.js"></script>
    <%# <script src="https://droitthemes.com/html/saasland/vendors/wow/wow.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/isotope/isotope-min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://droitthemes.com/html/saasland/js/plugins.js"></script> %>
    <script src="https://droitthemes.com/html/saasland/js/main.js"></script>
