
  <%= simple_form_for @audio, url: user_audios_path, html: { class: "form-container center-auto"} do |f| %>

          <p><strong>Title</strong></p>
          <%= f.input :title, label: false, input_html: { class: "form-input-100" }  %>
          <%= f.input :file, as: :file, label: false, style: "width:400px" %>

          <%=  "Upload", class: "btn btn-primary w-100" %>
  <% end %>
