<div style="margin-top:10px">
    <ul class="nav nav-tabs" style="margin-bottom:20px">
      <li class="nav-item">
        <%=link_to user_audios_path(@user, @audios) do %>
          <button class="btn nav-link <%= "active" if current_page?(user_audios_path) %> br5">
            <i class="bi bi-bounding-box mr10"></i>All Audio
          </button>
        <% end %>
      </li>
      <li class="nav-item">
        <%=link_to new_user_audio_path(@user) do %>
          <button class="btn nav-link <%= "active" if current_page?(new_user_audio_path) %> br5">
            <i class="bi bi-cloud-plus mr10"></i>New Audio
          </button>
        <% end %>
      </li> <br>
    </ul>
</div>
