
<div class="contactus2_tab">

  <div class="contact_details2_container">

    <div class="contactinfoheader">
      Contact Information
    </div>

    <div class="contactinfoemails">
      <a href="#">stuart@viddex.io</a>
    </div>

  </div>
</div>
