
<div class="contactus2_tab">

  <div class="contact_details2_container">

    <div class="contactinfoheader">
      Contact Information
    </div>

    <div class="contactinfoemails">
      Support: <a href="#">support@viddex.com</a> <br />
      Sales: <a href="#">sales@viddex.com</a> <br />
      General: <a href="#">info@viddex.com</a>
    </div>

  </div>
</div>
