.admin_side_contact_tab{
  height: 750px;
  width: 20%;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgb(180, 180, 180);
}

.admin_side_contact_contents{

}

.admin_side_contact_header{
  width: 100%;
  height: 40px;
  border-bottom-style: solid;
  border-color: rgb(180, 180, 180);
  padding-top: 10px;
  padding-left: 5px;
  color: white;
  background-color: #3a4256;
  font-weight: bold;
}

.admin_side_and_main{
  display: flex;
  flex-direction: row;
}

.admin_side_contact_inner_contents{
  overflow-y: scroll;
  height: 700px;

}

.sidebar_contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-color: rgb(180, 180, 180);
  background-color: rgba(253, 248, 248, 0.869);
  color: rgb(41, 65, 85);
  cursor: pointer;
  font-weight: bold;
}

.sidebar_contact.read {
  font-weight: lighter;
}

.contact_date-header{
  border-bottom-style: solid;
  border-color: rgb(180, 180, 180);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-style: italic;
  background-color: #cbccce;
  color: rgb(41, 65, 85);
}
