
.admin_top_tab{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: left;
  padding-top: 30px;
  padding-left: 20px;
  background-color: #4eabff;
}

.admin_top_contents{
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: left;
  gap: 10px;
}

.admin_top_buttons{
  color:#475066;
  background-color: white;
  border-color: white;
  font-weight: bold;
}

.admin-dropdown-menu {
  display: none;
  list-style-type: none;
}

.show {
  display: block;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
