
.contactus2_tab{
  height: 180px;
  background-color: white;
  background-image: url("https://res.cloudinary.com/dth8lnhas/image/upload/v1673953678/Untitled_design_5_znox7i.png");

  background-position: bottom;
  background-repeat: no-repeat;
}

.contact_details2_container{
  text-align: center;
}

.contactinfoheader{
  color:#475066;
  font-weight: bold;
  font-size: 28px;
}

.contactinfoemails{
  color:#475066;
  font-size: 20px;
}












@media (min-width: 1200px) {


}

@media (min-width: 992px) and (max-width: 1199.9px) {


}

@media (min-width:768px) and (max-width: 991.9px) {


}

@media (min-width: 576px) and (max-width: 767.9px ) {


}

@media (max-width:  575.9px) {


}
