
.contactus2_tab{
  height: 180px;
  background-color: white;
  background-image: url("https://res.cloudinary.com/dth8lnhas/image/upload/v1673953678/Untitled_design_5_znox7i.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.contact_details2_container{
  text-align: center;
}

.contactinfoheader{
  color:#475066;
  font-weight: bold;
  font-size: 28px;
}

.contactinfoemails{
  color:#475066;
  font-size: 20px;
}

@media (min-width: 576px) and (max-width: 767.9px ) {

  .contactinfoheader{
    font-size: 20px;
  }

  .contactinfoemails{
    font-size: 15px;
  }

  .contact_details2_container{
    padding-top: 55px;
  }

}

@media (max-width:  575.9px) {

  .contactinfoheader{
    font-size: 20px;
    color: white;
  }

  .contactinfoemails, .contactinfoemails a{
    font-size: 15px;
    color: white;
  }

  .contactus2_tab{
    background-image: url("https://res.cloudinary.com/dth8lnhas/image/upload/v1675664712/Backgrounds/62_snqehx.png");
  }

  .contact_details2_container{
    padding-top: 55px;
  }

}
