// Specific CSS for your home-page
.wrapper{
  justify-content: center;
  display: flex;
}

#video_box{
  position:relative;

}
#video_overlays {
  position:absolute;
  width:120px;
  height:85px;
  background-size: 120px 85px;
  overflow-wrap: break-word;
  z-index:3;
  top:110px;
  left:356px;
  text-align:center;
  font-family: 'Permanent Marker', cursive;

}

// register nav button
.lb-btn{
  background-color: #4eabff;
  color: white;
  border-radius: 9999px;
  padding: 10px;
}
// login + contact us nav buttons
.pt-10{
  padding-top: 11px;
  color:#50565b;
}

.pt-10-2 {
  padding-top: 13px;
  color:#50565b;
}

.pt-10-2:hover {
  color: #4eabff;
}



.main-body{
  display: block;
  padding-top: 87px;
}

// about us/solutions/ pricing nav buttons
#navbarDropdownMenuLink1, #navbarDropdownMenuLink2, #navbarDropdownMenuLink{
  color:#50565b;
}

#navbarDropdownMenuLink:active, #navbarDropdownMenuLink:focus, #navbarDropdownMenuLink:hover{
color: #4eabff;
}

.pt-10:hover {
  color: #4eabff;
}

.lb-btn:hover {
  color: white;
  background-color: #4598e1;
}

#savebutton{
  width:400px;
}

.adminbutton{
  background-color: rgb(9, 11, 12);
  color:white;
  font-family: 'LL Circular', sans-serif;
  font-weight: 600;
  border-color: rgb(9, 11, 12);
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  border-radius: 5%;
}

@media (min-width:821px) and (max-width: 991.9px) {

  #navbarDropdownMenuLink{
  text-align: center;
  }

  .pt-10, .lb-btn{
    text-align: center;
  }

}
