// CSS sheet for the home_seventh_tab file

.home_seventh_bottomtab{
  background-color: #e7eaf6;
  width:100%;
  height:450px;
  position: relative;
}

.home_seventh_bottomtableft{
float: left;
padding-top: 60px;
padding-left: 300px;
}

.home_seventh_bottomtab_logo{
  float:left;
}

.home_seventh_bottomtab_slogan{
  color:#475066;
  font-size:20px;
  font-weight:bold;
  float:right;
}

.home_seventh_bottomtabright{
float: right;
padding-top: 60px;
padding-right: 380px;
font-size: 13px;
}

.home_seventh_bottomtab_headings{
  font-weight:bold;
}

.home_seventh_bottomlinks{
  font-family: 'LL Circular', sans-serif;
  color:#475066;
}

.home_seventh_linkcells{
  padding-right: 50px;
  padding-top: 11px;
  font-size:10px;
  font-weight:bold;
}

.home_seventh_linkwords{
  color:#5b627d;
}

.home_seventh_bottomfloor{
  position: absolute;
  bottom: 0;
  width:100%;
  height:60px;
  }

  .home_seventh_floorcomponents{
    font-family: 'LL Circular', sans-serif;
    color:#475066;
    border-top: 1px solid;
    border-color: #a9a9a9;
    width:60%;
    margin-left: auto;
    margin-right: auto;
  }

  .home_seventh_floorlinks{
    font-weight:bold;
    font-size:10px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .home_seventh_floorlinks_not_right{
    font-weight:bold;
    font-size:10px;
    padding-right: 15px;
    padding-left: 15px;
    border-right:solid 0.5px;
    border-color: #a9a9a9;
  }

  .home_seventh_floorright{
    font-weight:bold;
    font-size:10px;
    color:#475066;
    float:right;
    padding-top:10px;
  }

  .home_seventh_tablediv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .home_seventh_floorlogos{
    float:left;
    padding-top: 10px;
  }
