// Specific CSS for your home-page
.wrapper{
  justify-content: center;
  display: flex;
}

#video_box{
  position:relative;
}
#video_overlays {
  position:absolute;
  width:120px;
  height:85px;
  background-size: 120px 85px;
  overflow-wrap: break-word;
  z-index:3;
  top:110px;
  left:356px;
  text-align:center;
  font-family: 'Permanent Marker', cursive;

}
.home-logo{
  height: 60px;
  margin-bottom: 10px;
}
.lb-btn{
  background-color: $light-blue;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.pt-10{
  padding-top: 10px;
}
