
.home_fourth_salestab{
  background-color: #e7eaf6;
  width: 100%;
}

.home_fourth_animationplustext{
  display: flex;
}

.home_fourth_salesdivs{
color:#475066;
font-family: 'LL Circular', sans-serif;
}

.home_fourth_header{
  font-weight:bold;
}

.home_fourth_link{
  font-weight:bold;
  color:#4eabff;
}

.home_four_video{
  width: 100%;
}

@media (min-width: 1200px) {

  .home_fourth_container{
    padding-top: 5%;
    padding-bottom: 1%;
  }

  .home_fourth_animationplustext{
    flex-direction: row;
    justify-content: center;
  }

  .home_fourth_videodiv{
    padding-top:70px;
    width: 450px;
  }

  .home_fourth_salesdivs{
    width: 550px;
    padding-left: 70px;
    padding-right: 15px;
  }

  .home_fourth_header{
    font-size:32px;
  }

  .home_fourth_paragraph{
    font-size:17px;
    line-height:1.9;
  }

  .home_fourth_list{
    font-size:17px;
    line-height:1.9;
  }

  .home_fourth_link{
    font-size:17px;
  }

  .home_four_video{
    width: 100%;
  }

}

@media (min-width: 992px) and (max-width: 1199.9px) {

  .home_fourth_container{
    padding-top: 5%;
    padding-bottom: 1%;
  }

  .home_fourth_animationplustext{
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_fourth_videodiv{
    padding-top:70px;
    width: 450px;
  }

  .home_fourth_salesdivs{
    width: 550px;
    padding-left: 70px;
    padding-right: 15px;
  }

  .home_fourth_header{
    font-size:32px;
  }

  .home_fourth_paragraph{
    font-size:17px;
    line-height:1.9;
  }

  .home_fourth_list{
    font-size:17px;
    line-height:1.9;
  }

  .home_fourth_link{
    font-size:17px;
  }

}

@media (min-width:768px) and (max-width: 991.9px) {

  .home_fourth_container{
    padding-top: 5%;
    padding-bottom: 1%;
  }

  .home_fourth_animationplustext{
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_fourth_videodiv{
    padding-top:70px;
    width: 650px;
  }

  .home_fourth_salesdivs{
    width: 750px;
    padding-left: 15px;
    padding-right: 70px;
  }

  .home_fourth_header{
    font-size:32px;
  }

  .home_fourth_paragraph{
    font-size:17px;
    line-height:1.9;
  }

  .home_fourth_list{
    font-size:17px;
    line-height:1.9;
  }

  .home_fourth_link{
    font-size:17px;
  }

}

@media (min-width: 576px) and (max-width: 767.9px ) {

  .home_fourth_container{
    padding-top: 5%;
    padding-bottom: 1%;
  }

  .home_fourth_animationplustext{
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_fourth_videodiv{
    padding-top:70px;
    width: 500px;
  }

  .home_fourth_salesdivs{
    width: 550px;
    padding-left: 15px;
    padding-right: 70px;
  }

  .home_fourth_header{
    font-size:32px;
  }

  .home_fourth_paragraph{
    font-size:17px;
    line-height:1.9;
  }

  .home_fourth_list{
    font-size:17px;
    line-height:1.9;
  }

  .home_fourth_link{
    font-size:17px;
  }

}

@media (max-width:  575.9px) {

  .home_fourth_container{
    padding-top: 5%;
    padding-bottom: 1%;
  }

  .home_fourth_animationplustext{
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_fourth_videodiv{
    padding-top:70px;
    width: 90%;
  }

  .home_fourth_salesdivs{
    width: 95%;
    padding-right: 30px;
  }

  .home_fourth_header{
    font-size:28px;
  }

  .home_fourth_paragraph{
    font-size:16px;
    line-height:1.9;
  }

  .home_fourth_list{
    font-size:16px;
    line-height:1.9;
  }

  .home_fourth_link{
    font-size:16px;
  }

}
