.home_fourth_salestab{
  background-color: #e7eaf6;
}

@media (min-width: 768px) {
.home_fourth_animationplustext{
  display: flex;
  flex-direction: row;
}

.home_fourth_animation_one{
  padding-top:8%;
  color:#475066;
  font-family: 'LL Circular', sans-serif;
  padding-bottom: 5%;
}

.home_fourth_video_mobile{
display: none;
}

.home_fourth_salesdivs{
float: right;
margin-left: 8%;
padding-top:8%;
color:#475066;
font-family: 'LL Circular', sans-serif;
padding-bottom: 5%;
}

.home_fourth_header{
  font-size:32px;
  font-weight:bold;
}

.home_fourth_paragraph{
  font-size:17px;
  line-height:1.9;
}

.home_fourth_list{
  font-size:17px;
  line-height:1.9;
}

.home_fourth_link{
  font-size:17px;
  font-weight:bold;
  color:#4eabff;
}

.home_fourth_quote{
  font-size:13px;
  padding:10px;
  background-color:#f5f7ff;
  border-radius: 5px 5px 5px 5px;
  font-weight:bold;
  color:#475066;
  border: 0.5px solid #475066;

}
}

@media (max-width: 767.9px) {

  .home_fourth_animationplustext{
    display: flex;
    flex-direction: column-reverse;
  }

  .home_fourth_animation_one{
   display: none;
  }

  .home_fourth_salesdivs{
  padding-left: 5%;
  padding-top: 8%;
  color:#475066;
  font-family: 'LL Circular', sans-serif;
  }

  .home_fourth_header{
    font-size:32px;
    font-weight:bold;
  }

  .home_fourth_paragraph{
    font-size:17px;
    line-height:1.9;
  }

  .home_fourth_list{
    font-size:16px;
    line-height:1.9;
  }

  .home_fourth_link{
    font-size:17px;
    font-weight:bold;
    color:#4eabff;
  }

  .home_fourth_quote{
    font-size:13px;
    padding:10px;
    background-color:#f5f7ff;
    border-radius: 5px 5px 5px 5px;
    font-weight:bold;
    color:#475066;
    border: 0.5px solid #475066;

  }

  .home_fourth_video_mobile{
    padding:3%
  }
}
.home_four_video{
  width:100%
}
