// Specific CSS for the hero tab

.herotab{
  background: image-url('homebackground.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  }

.heroheader{
  font-size:46px;
  padding-left: 350px;
  color:#475066;
  font-family: 'LL Circular', sans-serif;
  font-weight: 600;
  background-color:fafafa;
}

.heroparagraph{
  padding-left: 350px;
  color:#5B627D;
  font-family: 'LL Circular', sans-serif;
  font-size:14px;
  line-height: 1.9;
}

.herobuttons{
  padding-left: 350px;
}

.herobuttonone{
  background-color: #4eabff;
  color:white;
  font-family: 'LL Circular', sans-serif;
  font-weight: 600;
  padding: 16px 40px;
  font-size:11px;
  border-radius: 2px;
  border-color: #4eabff;
  width: 230px;
  height:50px
}

.herobuttontwo{
  background-color: white;
  color:#4eabff;
  font-family: 'LL Circular', sans-serif;
  font-weight: 600;
  padding: 16px 40px;
  font-size:11px;
  border-radius: 2px;
  border-color: #4eabff;
  height:50px
}

.herolink{
  padding-left: 350px;
  font-size:12px;
}

.herolinktextone{
  color:#5B627D;
  font-size:12px;
}

.herolinktexttwo{
  text-decoration: underline;
  color:#4eabff;
}
