// CSS sheet for fifth home tab from hero tab

.home_fifth_marketing_tab{
  background-color: #e7eaf6;
  width:100%;
}

.home_fifth_vid_and_text{
  display: flex;
}

.home_fifth_marketing_divs{
  color:#475066;
  font-family: 'LL Circular', sans-serif;
}

.home_fifth_header{
  font-weight:bold;
}

.home_fifth_link{
  font-weight:bold;
  color:#4eabff;
}

@media (min-width: 1200px) {

  .home_fifth_vid_and_text{
    flex-direction: row;
    justify-content: center;
  }

  .home_fifth_videodiv{
    padding-top:70px;
    width: 450px;
  }

  .home_fifth_marketing_divs{
    width: 550px;
    padding-left: 15px;
    padding-right: 70px;
  }

  .home_fifth_header{
    font-size:32px;
  }

  .home_fifth_paragraph{
    font-size:17px;
    line-height:1.9;
  }

  .home_fifth_list{
    font-size:17px;
    line-height:1.9;
  }

  .home_fifth_link{
    font-size:17px;
  }

  .home_fifth_container{
    padding-top: 5%;
    padding-bottom: 2%;
  }

}

@media (min-width: 992px) and (max-width: 1199.9px) {

  .home_fifth_vid_and_text{
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_fifth_videodiv{
    padding-top:70px;
    width: 450px;
  }

  .home_fifth_marketing_divs{
    width: 550px;
    padding-left: 15px;
    padding-right: 70px;
  }

  .home_fifth_header{
    font-size:32px;
  }

  .home_fifth_paragraph{
    font-size:17px;
    line-height:1.9;
  }

  .home_fifth_list{
    font-size:17px;
    line-height:1.9;
  }

  .home_fifth_link{
    font-size:17px;
  }

  .home_fifth_container{
    padding-top: 5%;
    padding-bottom: 2%;
  }

}

@media (min-width:768px) and (max-width: 991.9px) {

  .home_fifth_vid_and_text{
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_fifth_videodiv{
    padding-top:70px;
    width: 650px;
  }

  .home_fifth_marketing_divs{
    width: 750px;
    padding-left: 15px;
    padding-right: 70px;
  }

  .home_fifth_header{
    font-size:32px;
  }

  .home_fifth_paragraph{
    font-size:17px;
    line-height:1.9;
  }

  .home_fifth_list{
    font-size:17px;
    line-height:1.9;
  }

  .home_fifth_link{
    font-size:17px;
  }

  .home_fifth_container{
    padding-top: 5%;
    padding-bottom: 10%;
  }

}

@media (min-width: 576px) and (max-width: 767.9px ) {

  .home_fifth_vid_and_text{
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_fifth_videodiv{
    padding-top:70px;
    width: 500px;
  }

  .home_fifth_marketing_divs{
    width: 550px;
    padding-left: 15px;
    padding-right: 70px;
  }

  .home_fifth_header{
    font-size:32px;
  }

  .home_fifth_paragraph{
    font-size:17px;
    line-height:1.9;
  }

  .home_fifth_list{
    font-size:17px;
    line-height:1.9;
  }

  .home_fifth_link{
    font-size:17px;
  }

  .home_fifth_container{
    padding-top: 5%;
    padding-bottom: 10%;
  }

}

@media (max-width:  575.9px) {

  .home_fifth_vid_and_text{
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_fifth_videodiv{
    padding-top:70px;
    width: 90%;
  }

  .home_fifth_marketing_divs{
    width: 95%;
    padding-left: 30px;
  }

  .home_fifth_header{
    font-size:28px;
  }

  .home_fifth_paragraph{
    font-size:16px;
    line-height:1.9;
  }

  .home_fifth_list{
    font-size:16px;
    line-height:1.9;
  }

  .home_fifth_link{
    font-size:16px;
  }

  .home_fifth_container{
    padding-top: 5%;
    padding-bottom: 10%;
  }

}
