// Specific CSS for your home-page
.wrapper{
  justify-content: center;
  display: flex;
}

#video_box{
  position:relative;

}
#video_overlays {
  position:absolute;
  width:120px;
  height:85px;
  background-size: 120px 85px;
  overflow-wrap: break-word;
  z-index:3;
  top:110px;
  left:356px;
  text-align:center;
  font-family: 'Permanent Marker', cursive;

}
.home-logo{
  height: 60px;
  margin-bottom: 10px;
}
.lb-btn{
  background-color: #4eabff;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.pt-10{
  padding-top: 10px;
  color:#56626c;
}

.pt-10-2 {
  padding-top: 15px;
  color:#56626c;
}

.pt-10-2:hover {
  color: #4eabff;
}

.camsnav{
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nav-link {
  font-family: 'LL Circular', sans-serif;
  font-weight: 600;
}

.main-body{
  display: block;
  padding-top: 87px;
}

#navbarDropdownMenuLink{
  color:#56626c;
}

#navbarDropdownMenuLink:active, #navbarDropdownMenuLink:focus, #navbarDropdownMenuLink:hover{
color: #4eabff;
}

.pt-10:hover {
  color: #4eabff;
}

.lb-btn:hover {
  color: white;
  background-color: #4598e1;
}

#savebutton{
  width:400px;
}

.terminalbutton{
  background-color: #4eabff;
  color:white;
  font-family: 'LL Circular', sans-serif;
  font-weight: 600;
  border-color: #4eabff;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  border-radius: 5%;
}

.adminbutton{
  background-color: rgb(9, 11, 12);
  color:white;
  font-family: 'LL Circular', sans-serif;
  font-weight: 600;
  border-color: rgb(9, 11, 12);
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  border-radius: 5%;
}

@media (min-width:821px) and (max-width: 991.9px) {

  #navbarDropdownMenuLink{
  font-size: 13px;
  text-align: center;
  }

  .pt-10, .lb-btn{
    font-size: 13px;
    text-align: center;
  }

}

@media (min-width:768px) and (max-width:820.9px) {

  #navbarDropdownMenuLink{
    font-size: 13px;
    text-align: center;
    }

  .pt-10, .lb-btn{
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.9px ) {

  #navbarDropdownMenuLink{

    }

  .pt-10, .lb-btn{

  }

}
