// CSS sheet for fifth home tab from hero tab

.home_fifth_marketing_tab{
  background-color: #e7eaf6;
  width:100%;
  height:600px;
}

.home_fifth_marketing_divs{
  float: left;
  padding-left: 330px;
  padding-top:70px;
  color:#475066;
  font-family: 'LL Circular', sans-serif;
}

.home_fifth_header{
  font-size:24px;
  font-weight:bold;
}

.home_fifth_paragraph{
  font-size:13px;
  line-height:1.9;
}

.home_fifth_list{
  font-size:13px;
  line-height:1.9;
}

.home_fifth_link{
  font-size:13px;
  font-weight:bold;
  color:#4eabff;
}

.home_fifth_quote{
  font-size:11px;
  padding:10px;
  background-color:#f5f7ff;
  border-radius: 5px 5px 5px 5px;
  font-weight:bold;
  color:#475066;
  border: 0.5px solid #475066;
}
