.home_fourth_salestab{
  background-color: #e7eaf6;
  width:100%;
  height:600px;
}

.home_fourth_salesdivs{
float: right;
padding-right: 330px;
padding-top:70px;
color:#475066;
font-family: 'LL Circular', sans-serif;
}

.home_fourth_header{
  font-size:24px;
  font-weight:bold;
}

.home_fourth_paragraph{
  font-size:13px;
  line-height:1.9;
}

.home_fourth_list{
  font-size:13px;
  line-height:1.9;
}

.home_fourth_link{
  font-size:13px;
  font-weight:bold;
  color:#4eabff;
}

.home_fourth_quote{
  font-size:11px;
  padding:10px;
  background-color:#f5f7ff;
  border-radius: 5px 5px 5px 5px;
  font-weight:bold;
  color:#475066;
  border: 0.5px solid #475066;
}
