// Specific CSS for the hero tab

.home_hero_container{
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
}

.hero_content{
  display: flex;
  padding-top: 8%;
}

.heroheader{
  color:white;
  // font-family: "BarlowMedium", sans-serif;
  // background-color:fafafa;
  font-size:larger;
}

.heroparagraph{
  color:white;
  font-family: "BarlowMedium", sans-serif;
  margin-top: 24px;
  line-height: 1.9;
}

.herobuttonone{
  background-color:transparent;
  color:white;
  font-family: "BarlowSemiCondensedMedium", sans-serif;
  // border-color: #4eabff;
  border-radius: 25px;
  border: 1px solid;
  // width: 80%;
  margin-top: 23px;
  margin-right: 20px;
}

.herobuttontwo{
  background-color: white;
  color: rgb(99,82,236);
  font-family: "BarlowSemiCondensedMedium", sans-serif;
  border-color: white;
  border: 1px solid;
  border-radius: 25px;


}

.herobuttonone:hover{
  background-color: #4598e1;
  border-color: #4598e1;
}

.herobuttontwo:hover{
  background-color: rgb(245, 246, 247);
  border-color: #4598e1;
}

.herolinktextone{
  font-family: "BarlowSemiCondensedMedium", sans-serif;
  color:#5B627D;
}

.herolinktexttwo{
  font-family: "BarlowSemiCondensedMedium", sans-serif;
  text-decoration: underline;
  color:#4eabff;
}

.hero_video{
  opacity: 0;
}

.hero_text{
  opacity:0;
}


// for the video
@media (min-width: 1500px) {

  .hero_video{
    width: 800px;
  }

}

@media (min-width: 992px) and (max-width: 1499.9px) {

  .hero_video{
    width: 600px;
  }

}


// for everything else
@media (min-width: 1200px) {

  .home_hero_container{
    justify-content: center;
    flex-direction: row;
    padding:10%;
    padding-top: 12%;
    position: relative;
    margin-top: -10vh;
  }

  .herotab{
    background-image: linear-gradient(40deg,rgb(94,44,237) 0%,rgb(164,133,253) 100%);
    background-repeat: no-repeat;
    // background-size: 1900px;
    background-position: right;
    height: 101vh;
  }

  .hero_text{
    // width: 600px;
    padding-top: 8%;
  }

  .hero_content{
    display: flex;
    padding-top: 8%;
  }

  .heroheader{
    font-size: 360%;
  }

  .heroparagraph{
    font-size:22px;
    width: 90%;
    padding-top: 2%;
  }

  .herobuttonone{
    padding:13px;
    font-size:20px;
    border-radius: 25px;

  }

  .herobuttontwo{
    font-size:20px;
    border-radius: 25px;
    padding:13px;
  }

  .herolink{
    font-size:15px;
    padding-top: 5%;
  }

  .hero_mobile_photo{
    display: none;
  }

  .hero-image-2{
    display:none;
  }

}

@media (min-width: 992px) and (max-width: 1199.9px) {

  .home_hero_container{
    justify-content: center;
    flex-direction: row;
  }

  .herotab{
    background-image: url('https://res.cloudinary.com/dth8lnhas/image/upload/v1673336524/Backgrounds/photo_two_7_atzruj.png');
    background-repeat: no-repeat;
    background-size:1900px;
    background-position: right;
    height: 700px;
  }

  .hero_text{
    width: 500px;
    padding-top: 1%;
    padding-left: 20px;
  }

  .hero_video{
    width: 500px;
  }

  .hero_content{
    display: flex;
    padding-top: 8%;
  }

  .heroheader{
    font-size: 350%;
  }

  .heroparagraph{
    font-size:18px;
    width: 90%;
    padding-top: 2%;
  }

  .herobuttonone{
    padding: 10px;
    font-size:18px;
    border-radius: 10px;
  }

  .herobuttontwo{
    padding: 10px;
    font-size:18px;
    border-radius: 10px;
  }

  .herolink{
    font-size:15px;
    padding-top: 5%;
  }

  .hero_mobile_photo{
    display: none;
  }

  .hero-image-2{
    display:none;
  }

}

@media (min-width:768px) and (max-width: 991.9px) {

  .home_hero_container{
    justify-content: center;
    flex-direction: row;
    padding-top: 1%;
  }

  .herotab{
    background-image: url('https://res.cloudinary.com/dth8lnhas/image/upload/v1673336524/Backgrounds/photo_two_7_atzruj.png');
    background-repeat: no-repeat;
    background-size:1900px;
    background-position: right;
    height: 700px;
  }

  .hero_text{
    width: 500px;
    padding-top: 1%;
    padding-left: 20px;
  }

  .hero_video{
    display:none;
  }

  .hero-image-2{
    display:block;
    opacity:0;
    height:650px;
  }

  .hero_content{
    display: flex;
    padding-top: 0%;
  }

  .heroheader{
    font-size: 280%;
  }

  .heroparagraph{
    font-size:17px;
    width: 90%;
    padding-top: 2%;
  }

  .herobuttonone{
    padding: 10px;
    font-size:18px;
    border-radius: 10px;
    width: 230px;
  }

  .herobuttontwo{
    padding: 10px;
    font-size:18px;
    border-radius: 10px;
    width: 180px;
  }

  .herolink{
    font-size:15px;
    padding-top: 5%;
  }

  .hero_mobile_photo{
    display: none;
  }

  .herobuttons{
    width: 80%;
    display: flex;
    justify-content: space-between;

  }

}

@media (min-width: 576px) and (max-width: 767.9px ) {

  .home_hero_container{
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .herotab{
    height: 820px;
    background-image: url('https://res.cloudinary.com/dth8lnhas/image/upload/v1675918929/Backgrounds/62_11_w3b52n.png');
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: top;
  }

  .hero_text{
    width: 500px;
    padding-top: 6%;
  }

  .hero_video{
    display: none;
  }

  .hero_content{
    display: flex;
    padding-top: 8%;
  }

  .heroheader{
    font-size: 360%;
    text-align: right;
    color:#475066;
  }

  .heroparagraph{
    font-size:18px;
    padding-top: 2%;
    text-align: right;
    color:#475066;
  }

  .herobuttonone{
    padding: 10px;
    font-size:18px;
    border-radius: 10px;
    width: 250px;
    border-style: none;
  }

  .herobuttontwo{
    padding: 10px;
    font-size:18px;
    border-radius: 10px;
    width: 200px;
  }

  .herolink{
    font-size:15px;
    padding-top: 5%;
    text-align: center;
  }

  .hero_mobile_photo{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 400px;
    display: block;
    margin: 0 auto;
    opacity:0;
  }

  .hero-image-2{
    display:none;
  }

  .herobuttons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
  }

}

@media (max-width:  575.9px) {

  .home_hero_container{
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-left: 10px;
  }

  .herotab{
    height:870px;
    background-image: url('https://res.cloudinary.com/dth8lnhas/image/upload/v1675756484/Backgrounds/62_4_uwlbok.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero_text{
    width: 80%;
    padding-top: 6%;
  }

  .hero_video{
    display: none;
  }

  .hero-image-2{
    display:none;
  }

  .hero_content{
    display: flex;
    padding-top: 8%;
  }

  .heroheader{
    font-size: 320%;
    text-align: center;
    color:white;
  }

  .heroparagraph{
    font-size:18px;
    padding-top: 2%;
    text-align: center;
    color:white;
  }

  .herobuttonone{
    padding: 10px;
    font-size:18px;
    border-radius: 10px;
    width: 250px;
    border-style: none;
  }

  .herobuttontwo{
    padding: 10px;
    font-size:18px;
    border-radius: 10px;
    width: 200px;
  }

  .hero_mobile_photo{
    padding-top: 5%;
    width: 80%;
    display: block;
    margin: 0 auto;
    opacity:0;
  }

  .herobuttons{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
  }

}
