// Import page-specific CSS files here.
@import "home";
@import "home_hero";
@import "home_first";
@import "home_second";
@import "home_third";
@import "home_fourth";
@import "home_fifth";
@import "home_sixth";
@import "footer";
@import "sidebar";
@import "contactus_first";
@import "contactus_second";
@import "navbar_dropdowns";
@import "pricing_one";
@import "who-we-are-one";
@import 'camscss';
@import 'banner';




.fixed{
  position: fixed;
}
.w-100{
  width: 100%;
}
.ptb-5{
  padding: 0.5rem 0px;
}
.mt-70{
  margin-top: 70px;
}
.mt-30{
  margin-top: 30px;
}
.g-logo{
  border-radius: 50%;
  height: 40px;
}

.pt-30{
  padding-top: 30px;
}

.pl-10{
  padding-left: 10px;
}
