// Import page-specific CSS files here.
@import "home";
@import "home_hero";
@import "home_first";
@import "home_second";
@import "home_third";
@import "home_fourth";
@import "home_fifth";
@import "home_sixth";
@import "home_seventh";

.vh100-smoke{
  height: 100vh;
  background-color: whitesmoke;
  margin-top: 60px;
}
.fixed{
  position: fixed;
}
.w-100{
  width: 100%;
}
.mt-70{
  margin-top: 70px;
}
.g-logo{
  border-radius: 50%;
  height: 40px;
}

.pt-30{
  padding-top: 30px;
}

.pl-10{
  padding-left: 10px;
}
