
Cold outreach and Introductions <br>
<% @templates.each do |template| %>
  <article >
    <a href="templates/<%= template.public_uid %>">
      <video src="<%= template.video_link %>"></video> <br>
      <%= template.title %>
    </a>
  </article>
<% end %> <br>

Follow ups <br>


Product demos <br>
