<div style="margin-top:10px">
    <ul class="nav nav-tabs" style="margin-bottom:20px">
      <li class="nav-item">
        <%=link_to user_templates_path(@user, @templates) do %>
          <button class="btn nav-link <%= "active" if current_page?(user_templates_path) %> br5">
            <i class="bi bi-bounding-box mr10"></i>All Templates
          </button>
        <% end %>
      </li>
      <li class="nav-item">
        <% if current_user.admin? %>
          <%=link_to new_user_template_path(@user) do %>
            <button class="btn nav-link <%= "active" if current_page?(new_user_template_path) %> br5">
              <i class="bi bi-cloud-plus mr10"></i>Upload
            </button>
          <% end %>
        <% end %>
      </li> <br>
    </ul>
</div>
