 <div class="center-auto">
  <%= simple_form_for @background, url: user_backgrounds_path ,  html: { class: "form-container-50 center-auto"} do |f| %>
    <%# <div style="width:400px;padding-top: 20px"> %>
        <p><strong>Title</strong></p>
        <%= f.input :title, label: false, input_html: { class: "form-input-100" } %>
      <%# </div> %>
        <%= f.input :photo, as: :file, label: false %>
        <%= f.submit "Upload", class: 'nav-link lb-btn', style: "border:none;width:100%" %>
      <%# </div> %>
    <%# </div> %>
  <% end %>
</div>
