<div class="page-wrap">
  <%= render"shared/terminalnav" %>
  <div class="flex">
    <%= render "shared/sidebarbs" %>
    <div class="flex-column"style="width:100%; margin: 20px; ">
      <h3 class="border-bottom mt-30">Edit Image</h3>
      <%= render "backgrounds/pagetabs" %>
      <%= render "editform" %>
    </div>
  </div>
</div>
