<header class="header_area" id="navshadow">
            <nav class="navbar navbar-expand-lg menu_one menu_four">
                <div class="container">
                    <a class="navbar-brand sticky_logo" href="<%= root_path %>"><img class="home-logo" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1689511782/m0cu0znd5x6qzcgfvvwu.png" srcset="https://res.cloudinary.com/dth8lnhas/image/upload/v1689511782/m0cu0znd5x6qzcgfvvwu.png 2x"
                            alt="logo"><img class="home-logo" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1689511788/er0lkaoaf17t9w3kla9p.png" srcset="https://res.cloudinary.com/dth8lnhas/image/upload/v1689511788/er0lkaoaf17t9w3kla9p.png 2x" alt=""></a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarsupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                        <ul class="navbar-nav menu w_menu pl_100" id="nav-menu">
                            <li class="nav-item dropdown submenu mega_menu">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Solutions
                                </a>
                                <div class="mega_menu_inner">
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">Lead Generation</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-grid-2col.html"
                                                        class="nav-link">Cold outreach</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-3columns.html"
                                                        class="nav-link">Inbound conversion</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-4columns.html"
                                                        class="nav-link">Follow ups</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-2col-2.html"
                                                        class="nav-link">Asking for referrals</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-2col-3.html"
                                                        class="nav-link">Objection handling</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">Sales</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-fullwidth-3columns.html"
                                                        class="nav-link">Meeting follow ups</a></li>
                                                <li class="nav-item"><a href="portfolio-fullwidth-4columns.html"
                                                        class="nav-link">Product demos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" id="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Resources
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="shop-grid.html" class="nav-link">Blog</a></li>
                                    <li class="nav-item"><a href="shop-grid-left-sidebar.html" class="nav-link">Tutorials</a></li>
                                    <li class="nav-item"><a href="shop-list.html" class="nav-link">FAQ's</a></li>
                                    <li class="nav-item"><a href="product-details-1.html" class="nav-link">Product
                                            detail</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" id="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Company
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="blog-grid.html" class="nav-link">About us</a></li>
                                    <li class="nav-item"><a href="blog-grid-two.html" class="nav-link">Why Viddex?</a>
                                    </li>
                                    <li class="nav-item"><a href="blog-list.html" class="nav-link">Newsroom</a></li>
                                    <li class="nav-item"><a href="blog-right-sidebar.html" class="nav-link">Careers</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown submenu mega_menu">
                                <a class="nav-link dropdown-toggle" id="dropdown-toggle" href="/pricing" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Pricing
                                </a>
                            </li>
                            <li class="nav-item dropdown submenu mega_menu">
                                <a class="nav-link dropdown-toggle" id="dropdown-toggle" href="/users/sign_in" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Sign In
                                </a>
                            </li>
                        </ul>
                        <a class="btn_get btn_hover" id="sl_nav_btn" href="/users/sign_up">Sign up for free</a>
                    </div>
                </div>
            </nav>
        </header>
