<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="page-tab-white background-one opacity-zero" id="who-we-are-div1">

  <div class="container-column normal-padding big-gap">

    <div class="tab-header-center">We provide the tools to create fast, high-quality sales
    connections through video</div>


    <div class="container-row-change-column">

      <div class="flex-column-left normal-padding">
        <div class="mini-header">Our Mission</div>
        <div class="page-text width-500-smaller">
          INSERT MISSION STATEMENT HERE INSERT MISSION STATEMENT HERE INSERT MISSION STATEMENT
          HERE INSERT MISSION STATEMENT HEREINSERT MISSION STATEMENT HERE INSERT MISSION
          STATEMENT HERE INSERT MISSION STATEMENT HERE INSERT MISSION STATEMENT HERE
        </div>
      </div>

      <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675998619/Images/Untitled_design_36_y2zgb5.png" class="page-image values-image"></img>

    </div>
    <%# end of text + image %>

    <div class="mini-header align-center">
      The Values Which Drive Us
    </div>

    <div class="home-third-boxes2" id="values-boxes">

      <div class="home-third-single-box2">
        <img class="home-third-box-image" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676010896/Images/viddex_24_w7yzif.png"></img>
        <div class="home-third-box-header">Simplicty</div>
        <div class="home-third-box-text">Subtracting the obvious and adding the meaningful.</div>
        <div class="home-third-box-text">
          We are dedicated to providing simple and uncomplicated solutions for our customers and employees.
          Our focus is to enhance the user experience by making things straightforward and easy to understand.
          We believe that by making things simple, we can help our customers
          and employees achieve their goals with fulfill their potential greater ease.
        </div>
      </div>

      <div class="home-third-single-box2">
        <img class="home-third-box-image" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676010783/Images/viddex_29_nf8hba.png"></img>
        <div class="home-third-box-header">Teamwork</div>
        <div class="home-third-box-text">Divide the tasks - Multiply the sucess.</div>
        <div class="home-third-box-text">
          An essential ingredient for success. We value and encourage collaboration and open communication among our employees.
          Our focus on teamwork helps build strong relationships, promotes creativity and drives growth.
          By working together, we provide the best possible experience for our customers.
        </div>
      </div>

      <div class="home-third-single-box2">
        <img class="home-third-box-image" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676010937/Images/viddex_27_npnktd.png"></img>
        <div class="home-third-box-header">Customer Obsession</div>
        <div class="home-third-box-text">You are at heart of all we do. Your satisfaction is our ultimate goal.</div>
        <div class="home-third-box-text">
          Here at Viddex, putting the customer first is a top priority. We are dedicated to understanding our customers' needs and
          delivering solutions that meet those needs. Our focus on the customer drives innovation and ensures that we
          provide the best possible experience. We believe that by putting the customer first, we can build long-lasting
          relationships and help people smash their goals.
        </div>
      </div>

      <div class="home-third-single-box2">
        <img class="home-third-box-image" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676010782/Images/viddex_28_uyyyz5.png"></img>
        <div class="home-third-box-header">Trust</div>
        <div class="home-third-box-text">Earn, build, achieve.</div>
        <div class="home-third-box-text">
          Trust is the foundation of all strong relationships. We believe that building trust with our customers and
          employees is essential for success. We strive to earn and maintain the trust of all those we work with
          through honesty, transparency, and reliability. Trust enables us to work together effectively and
          achieve great things. It is the cornerstone of our company culture and drives everything we do.
        </div>
      </div>

      <div class="home-third-single-box2">
        <img class="home-third-box-image" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676010852/Images/viddex_26_ngeiix.png"></img>
        <div class="home-third-box-header">Innovation</div>
        <div class="home-third-box-text">Innovate to differentiate, differentiate to succeed.</div>
        <div class="home-third-box-text">
          Innovation is key to staying ahead in an ever-changing world. We encourage our employees
          to think outside the box and bring fresh ideas to the table. Our focus on innovation sees us constantly
          improving our services, and sets us apart from the competition. We believe that by embracing
          innovation, we can create a brighter future for ourselves and our customers.
        </div>
      </div>

      <div class="home-third-single-box2">
        <img class="home-third-box-image" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676010823/Images/viddex_25_i2x92u.png"></img>
        <div class="home-third-box-header">Passion</div>
        <div class="home-third-box-text">Igniting performance, driving excellence, and inspiring impact.</div>
        <div class="home-third-box-text">
          Passion fuels us here at Viddex. When people are passionate about what they do, they do
          their best work. Our employees are passionate about delivering solutions that meet the needs of our customers
          and help them reach their targets. Passion drives us to go above and beyond, to strive for success in everything we do.
          We believe that when we work with passion, we can achieve great things and make a positive impact in the world.
        </div>
      </div>

    </div>
    <%# end of boxes %>

  </div>
  <%# end of container %>

</div>
<%# end of tab %>

<div class="page-tab-white background-two opacity-zero" id="who-we-are-div2">

  <div class="container-column normal-padding big-gap">

<div class="mini-header align-center">
      Our Story
    </div>

    <div class="container-row-change-column big-gap">

         <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676258256/Images/Start_Using_Viddex_Free_Today_3_riv1pd.png" class="page-image normal-drop"></img>

        <div class="page-text width-500-smaller">
          INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT
          HERE INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT HERE INSERT TEXT
          STATEMENT HERE INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT HERE

          INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT
          HERE INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT HERE INSERT TEXT
          STATEMENT HERE INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT HERE

          INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT
          HERE INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT HERE INSERT TEXT
          STATEMENT HERE INSERT TEXT STATEMENT HERE INSERT TEXT STATEMENT HERE
        </div>

    </div>

    <div class="container-row-change-column blue-box normal-drop big-gap radius-10">

    <div class="tab-header-left">Maximise Your Responses Today.</div>

    <div class="flex-column-left">
      <div>Sign up for Viddex. It's Free!</div>
      <div><i class='fa-solid fa-crown'></i> No credit card required.</div>
      <div><i class='fa-solid fa-crown'></i> Simple video creation process.</div>
      <div><i class='fa-solid fa-crown'></i> Professional quality with no experience required.</div>
      <a href="<%= new_user_registration_path %>" class="blue-button">Get Started Now! <i class='fa-solid fa-arrow-trend-up'></i></a>
    </div>

    </div>

      </div>
  <%# end of container %>

</div>
<%# end of tab %>


<script>

var fadeInDiv7 = document.getElementById('who-we-are-div1');
var fadeInDiv8 = document.getElementById('who-we-are-div2');
//var fadeInDiv9 = document.getElementById('');
//var fadeInDiv10 = document.getElementById('');


window.addEventListener('scroll', function() {

  var windowTop4 = window.pageYOffset + window.innerHeight;

  var fadeInDivTop8 = fadeInDiv8.getBoundingClientRect().top + window.pageYOffset;

  if (windowTop4 >= fadeInDivTop8) {
    fadeInDiv8.classList.add('fade-into-user-view');
  }

});

  function showtopdivs2() {
    fadeInDiv7.classList.add('fade-into-user-view');
  }

  window.onload(showtopdivs2());

</script>
