<%= simple_form_for @user, url: user_path do |f| %>
  <div class="flex">
    <p>My meeting link</p>
    <%= f.input :meeting_link, label: false %>
    <%= f.submit 'Save', class: 'btn btn-outline-dark', style:"border-radius:5px"%>
  </div>
<% end %>
