<script>

  function addDropShadow() {
    var header = document.getElementById('navshadow');
    header.style.boxShadow = '0 4px 20px rgb(15 31 41 / 16%)';
  }

  function removeDropShadow() {
    var header = document.getElementById('navshadow');
    header.style.boxShadow = '0 0 0 rgba(0, 0, 0, 0)';
    header.style.transition = 'box-shadow 0.5s ease-out';
  }

  window.addEventListener('scroll', function() {
    if (window.scrollY > 0) {
      addDropShadow();
    } else {
      removeDropShadow();
    }
  });

</script>

<header class="camsnav" id="navshadow">
<%# <div class="camsnav"> %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid" style="max-width:1200px">
      <%= link_to root_path, class: "" do %>
        <%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1671732023/viddex-whitebg.png", :class => "home-logo" %>
      <% end %>
      <%= render "pages/home/navdropdown" %>
      <%= render "pages/home/navlogins" %>

    </div>
  </div>
</header>
<%# </div> %>
