<div style = "height:50px;width:100%" class="border-bottom mt-30">
      <% if current_page?(user_videos_path) %>
        <h3> Videos  </h3>
      <% elsif current_page?(new_user_video_path)%>
        <h3>Upload Video</h3>
      <% elsif current_page?(user_backgrounds_path)%>
        <h3>Images</h3>
      <% elsif current_page?(new_user_background_path)%>
        <h3>Upload Image</h3>
      <%# <% elsif current_page?(edit_user_background_path)%>
        <%# <h3>Edit Background</h3> %>
      <% elsif current_page?(user_projects_path)%>
        <h3>Projects</h3>
      <% elsif current_page?(new_user_project_path)%>
        <h3>New project</h3>
      <%# <% elsif current_page?(edit_user_project_path)%>
        <%# <h3>Edit project</h3> %>
     <!-- <% elsif current_page?(user_path)%>
        <h3>Dashboard</h3>
      <% elsif current_page?(edit_user_video_path)%>
        <h3>Edit Video</h3>
      <% end %> -->
</div>
