<%= render"shared/navbar" %>

<div class="main-body">

  <%= render"pages/contactus/contactusfirst" %>
  <%= render"pages/contactus/contactussecond" %>

</div>

  <%= render"pages/home/homepage/footer" %>
