<%= render"shared/navbar" %>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% video_url = cl_video_tag("zmja1zeyzx44i3gcrdqs1b4arc4b",
  :underlay=>"#{Rails.env}:3czmm2ovambgv0hiqakbm358anml",
  :width=>1280,
  :effect=>"fade:100",
  :crop=>"scale",
  :transformation=>[
    {:angle=>0}
  ]) %>

<% thumbnail = cl_image_tag("zmja1zeyzx44i3gcrdqs1b4arc4b.gif", :page=>2) %>


<%= cl_video_tag("zmja1zeyzx44i3gcrdqs1b4arc4b", :width => 900,
  :preload => "none", :controls => true,
  :loop => true, :autoplay => true, :poster => false,
  :fallback_content => "Your browser does not support HTML5 video tags",
    :underlay=>"#{Rails.env}:3czmm2ovambgv0hiqakbm358anml",
  :width=>1280,
  :effect=>"fade:100",
  :crop=>"scale",
  :transformation=>[
    {:angle=>0} ]) %>

 <video width="900px"  controls preload="metadata" style="border-radius:10px" poster="">
      <source src= <%= video_url %> type="video/mp4" allowfullscreen=0>
    </video>
