<div data-controller="video-select">

Template selected -<br>
<%= @selected_template.title %> <br><br>
This template has <%= @selected_template.video_count %> videos <br>
<br>
Select your first video <br>


</div>
