<section class="agency_banner_area_two">
            <%# <div class="dot_shap one"></div>
            <div class="dot_shap two"></div>
            <div class="dot_shap three"></div> %>
            <div class="container">
                <div class="homepage_hero">
                    <div class=" horizontal-center">
                        <div class="agency_content_two horizontal-center">
                            <h1 class="banner_head w_color mb_20">
                                Sales videos, <br>made simple!</h1>
                            <p class="banner_body w_color horizontal-center l_height28">Create tailored, relevant
                              and engaging prospecting videos in seconds, helping you to book more meetings and close more deals
                                </p>
                            <div class="action_btn d-flex align-items-center horizontal-center mt_40">
                                <a href="#" class="btn_hover agency_banner_btn mr10">Watch video</a>
                                <a href="/contactus" class="btn_hover agency_banner_btn_three ml10">Contact Sales</a>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-center mt-70">
                        <video class="banner_video" autoplay loop muted src="https://res.cloudinary.com/dth8lnhas/video/upload/v1689547171/ycryk2ulsokzyaluvlp0.mp4"></video>

                    </div>
                </div>
            </div>
        </section>
