<section class="agency_banner_area_two">
            <div class="dot_shap one"></div>
            <div class="dot_shap two"></div>
            <div class="dot_shap three"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.4s">
                        <%# <img class="agency_banner_img" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675836043/Images/photo_two_4_sqjdq8.png" alt=""> %>
                        <img class="agency_banner_img" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676605254/Images/photo_two_11_naz47l.png" alt="">


                    </div>
                    <div class="col-lg-5 offset-lg-1 d-flex align-items-center">
                        <div class="agency_content_two">
                            <h2 class="f_700 f_size_40 l_height50 w_color mb_20 wow fadeInRight" data-wow-delay="0.3s">
                                Sales videos, <br>made simple!</h2>
                            <p class="f_400 w_color l_height28 wow fadeInRight" data-wow-delay="0.4s">Viddex enables sales teams to create tailored, relevant and engaging prospecting videos in seconds
                                </p>
                            <div class="action_btn d-flex align-items-center mt_40 wow fadeInRight"
                                data-wow-delay="0.6s">
                                <a href="#" class="btn_hover agency_banner_btn">Watch video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
