<section class="agency_featured_area agency_featured_area_two  bg_color2">
    <div class="container">
      <div class="horizontal-center">
        <h2 class="f_size_30 f_600 t_color3 l_height40 text-center wow fadeInUp" data-wow-delay="0.1s">Still not sure if Viddex is right for you?</h2>
        <div>
          <p style="text-align:center">Viddex is built for outbound sales teams who want to breakdown barriers and get the attention of their prospects. <br>
          If this sounds like you then Viddex might be for you.</p>
        </div>
        <div class="action_btn d-flex align-items-center horizontal-center mt_40">
            <a href="/users/sign_in" class="btn_hover btn_get mr10">Sign up for free</a>
            <a href="/contactus" class="btn_hover agency_banner_btn ml10">Contact Sales</a>
        </div>
      </div>
</section>
