<div class="home_fifth_marketing_tab">

  <div class="home_fifth_marketing_divs">

    <%# Header %>
    <div class="home_fifth_header">
      Shorten your deal cycle with <br />
      Viddex
    </div>

    <br />

    <%# Paragraph under header %>
    <div class="home_fifth_paragraph">
      Send relevant videos to your prospects so you can close deals <br />
      quicker. Share demos, proposal walkthroughs, and customer <br />
      stories that guide buyers through the purchase and get <br />
      opportunities over the finish line.
    </div>

    <br />

    <%# Unordered List %>
    <div class="home_fifth_list">

      <span id="ticks">&#10003;</span> Track prospect engagement and push data to your <br />
      &nbsp;&nbsp;&nbsp; CRM <br />

      <span id="ticks">&#10003;</span> Drive next steps with in-video CTAs <br />

      <span id="ticks">&#10003;</span> Reduce the number of emails sent to booked <br />
      &nbsp;&nbsp;&nbsp; meetings ratio <br />

    </div>

    <br />

    <%# Link to Marketing Page %>
    <a href="#" class="home_fifth_link">
      Viddex for Marketing &#10132;
    </a>

    <br /><br />

    <%# User Quote %>
    <div class="home_fifth_quote">
      <i>“For tracking engagement, clicks, and views there’s <br />
      nothing better than Viddex.” – Glenn Hughes, Video <br />
      Producer, Gordian</i>
    </div>

  </div>
  <%# end of marketingdivs class %>

</div>
<%# end of marketingtab class %>
