<%# First tab after the Hero tab %>

<section class="home_first_tab">

  <div class="home_first_container">
  <%# Header %>
    <div class="home_first_header">
      Reach more clients - Get more Responses <br> Close more Deals.
    </div>

    <%# Paragraph under the header %>
    <div class="home_first_paragraph">
      Most video tools take forever to create a single video. Viddex allows you to create and send unique, relevant videos for your potential clients in just seconds.
      Imagine the possibilities if you could send 100+ videos per day. Sign up for Viddex and start seeing the results for yourself.
    </div>

    <%# Div which contains both tables %>
    <div class="home_first_tables_combined">

      <%# First Table %>
      <table class="home_first_tables_seperate">

        <%# First Row (Header) %>
        <tr class="home_first_tableheaders">
          <td class="home_first_tableheader1">
            Selling without Viddex
          </td>
        </tr>

        <%# Second row %>
        <tr class="home_first_tablecards">
          <td class="home_first_tablecard">
            Your email appears in your prospect's inbox just like any other.
          </td>
        </tr>

        <%# Third Row %>
        <tr class="home_first_tablecards">
          <td class="home_first_tablecard">
            Clients like to conduct their own research. Effective meeting scheduling is becoming more difficult.
          </td>
        </tr>

        <%# Fourth Row %>
        <tr class="home_first_tablecards">
          <td class="home_first_tablecard">
            More calls, emails, and effort are required to engage and nurture leads.
          </td>
        </tr>

        <%# Fifth Row %>
        <tr class="home_first_tablecards">
          <td class="home_first_tablecard">
            The purchase process is becoming more complicated, and holding meetings over and over isn't helpful.
          </td>
        </tr>

      </table>
      <%# End of First Table %>

      <%# Second Table %>
      <table class="home_first_tables_seperate">

        <%# First Row (Header) %>
        <tr class="home_first_tableheaders">
          <td class="home_first_tableheader2">
            Selling with Viddex
          </td>
        </tr>

        <%# Second Row %>
        <tr>
          <td class="home_first_tablecard2">
            <ul><li class="home_one_list">
            Send prospects attention-grabbing sales videos to boost your response rate and stand out in their inboxes.</li></ul>
          </td>
        </tr>

        <%# Third Row %>
        <tr>
          <td class="home_first_tablecard2">
            <ul><li class="home_one_list">
            To lead your customer to the next step, you may easily send demos, presentations, walkthroughs, and other materials.</li></ul>
          </td>
        </tr>

        <%# Fourth Row %>
        <tr>
          <td class="home_first_tablecard2">
            <ul><li class="home_one_list">
            Less back and forth is achieved by sending tailored, adaptive videos.</li></ul>
          </td>
        </tr>

        <%# Fifth Row %>
        <tr>
          <td class="home_first_tablecard2" id="home_first_right-bottom-table_cell">
            <ul><li class="home_one_list">
            To establish rapport and introduce qualifying clients to later-stage sales representatives, record video handoffs.</li></ul>
          </td>
        </tr>

      </table>
      <%# End of second Table %>

    </div>
    <%# End of Div with both tables %>

    <%# Bottom Paragraph %>
    <div class="home_first_bottom_paragraph">
      MORE THAN 12 MILLION PEOPLE ACROSS 250,000 COMPANIES CHOOSE VIDDEX
    </div>

    <div class="home_one_companylogos">

    </div>
  </div>
</section>
<%# end of first tab %>
