<%# First tab after the Hero tab %>

<br /><br /><br /><br /><br /><br /><br />

<%# Header %>
<div class="home_first_header">
  Easy, Powerful Video Creation
</div>

<br />

<%# Paragraph under the header %>
<div class="home_first_paragraph">
  Email isn’t dead, but it sure is boring. With Viddex, you can record and send videos in just a few <br />
  clicks – perfect for busy sales reps trying to break into inboxes or marketers trying to make a splash.
</div>

<br /><br /><br /><br />

<%# Div which contains both tables %>
<div class="home_first_tables_combined">

  <%# First Table %>
  <table class="home_first_tables_seperate">

    <%# First Row (Header) %>
    <tr class="home_first_tableheaders">
      <td class="home_first_tableheader1">
        Selling without Viddex
      </td>
    </tr>

    <%# Second row %>
    <tr class="home_first_tablecards">
      <td class="home_first_tablecard">
        Your message looks like any other email <br />
        in your prospect's inbox.
      </td>
    </tr>

    <%# Third Row %>
    <tr class="home_first_tablecards">
      <td class="home_first_tablecard">
        Buyers want to do their own research. <br />
        It’s getting harder to book effective <br />
        meetings.
      </td>
    </tr>

    <%# Fourth Row %>
    <tr class="home_first_tablecards">
      <td class="home_first_tablecard">
        Engaging and nurturing leads is taking <br />
        more emails, calls, and effort.
      </td>
    </tr>

    <%# Fifth Row %>
    <tr class="home_first_tablecards">
      <td class="home_first_tablecard">
        The purchasing process is getting more <br />
        complex, and meeting after meeting isn’t <br />
        helping anyone.
      </td>
    </tr>

  </table>
  <%# End of First Table %>

  <%# Second Table %>
  <table class="home_first_tables_seperate">

    <%# First Row (Header) %>
    <tr class="home_first_tableheaders">
      <td class="home_first_tableheader2">
        Selling with Viddex
      </td>
    </tr>

    <%# Second Row %>
    <tr>
      <td class="home_first_tablecard2">
        <b><span id="ticks">&#10003;</span> Send high-impact</b>
        sales videos that stand <br />
        &nbsp;&nbsp;&nbsp; out in a prospect's inbox and increase <br />
        &nbsp;&nbsp;&nbsp; your reply rate.
      </td>
    </tr>

    <%# Third Row %>
    <tr>
      <td class="home_first_tablecard2">
        <b><span id="ticks">&#10003;</span> Easily share,</b> demos, whitepapers, <br />
        &nbsp;&nbsp;&nbsp; walkthroughs, and more to guide your <br />
        &nbsp;&nbsp;&nbsp; buyer to next-steps.
      </td>
    </tr>

    <%# Fourth Row %>
    <tr>
      <td class="home_first_tablecard2">
        <b> <span id="ticks">&#10003;</span> Send personalized</b> asynchronous videos <br />
        &nbsp;&nbsp;&nbsp; to reduce the back and forth by <b>85%.</b>
      </td>
    </tr>

    <%# Fifth Row %>
    <tr>
      <td class="home_first_tablecard2" id="home_first_right-bottom-table_cell">
        <b> <span id="ticks">&#10003;</span> Record video handoffs</b> to build rapport <br />
        &nbsp;&nbsp;&nbsp; and introduce qualified accounts to later- <br />
        &nbsp;&nbsp;&nbsp; stage sales reps.
      </td>
    </tr>

  </table>
  <%# End of second Table %>

</div>
<%# End of Div with both tables %>

<br /><br /><br />

<%# Bottom Paragraph %>
<div class="home_first_bottom_paragraph">
  MORE THAN 12 MILLION PEOPLE ACROSS 250,000 COMPANIES CHOOSE VIDDEX
</div>

<br /><br /><br /><br /><br /><br />
