<%# First tab after the Hero tab %>

<section class="home_first_tab">

  <div class="container">
  <%# Header %>
    <div class="home_first_header">
      Reach more clients - Get more responses <br> Close more deals
    </div>

    <br />

    <%# Paragraph under the header %>
    <div class="home_first_paragraph">
      Most video tools take forever to create a single video. Viddex allows you to create and send unique, relevant videos for your potential clients in just seconds. <br>
      Imagine the possibilities if you could send 100+ videos per day. Sign up for Viddex and start seeing the results for yourself.
    </div>

    <%# Div which contains both tables %>
    <div class="home_first_tables_combined">

      <%# First Table %>
      <table class="home_first_tables_seperate">

        <%# First Row (Header) %>
        <tr class="home_first_tableheaders">
          <td class="home_first_tableheader1">
            Selling without Viddex
          </td>
        </tr>

        <%# Second row %>
        <tr class="home_first_tablecards">
          <td class="home_first_tablecard">
            Your message looks like any other email
            in your prospect's inbox.
          </td>
        </tr>

        <%# Third Row %>
        <tr class="home_first_tablecards">
          <td class="home_first_tablecard">
            Buyers want to do their own research.
            It’s getting harder to book effective
            meetings.
          </td>
        </tr>

        <%# Fourth Row %>
        <tr class="home_first_tablecards">
          <td class="home_first_tablecard">
            Engaging and nurturing leads is taking
            more emails, calls, and effort.
          </td>
        </tr>

        <%# Fifth Row %>
        <tr class="home_first_tablecards">
          <td class="home_first_tablecard">
            The purchasing process is getting more
            complex, and meeting after meeting isn’t
            helping anyone.
          </td>
        </tr>

      </table>
      <%# End of First Table %>

      <%# Second Table %>
      <table class="home_first_tables_seperate">

        <%# First Row (Header) %>
        <tr class="home_first_tableheaders">
          <td class="home_first_tableheader2">
            Selling with Viddex
          </td>
        </tr>

        <%# Second Row %>
        <tr>
          <td class="home_first_tablecard2">
            <ul><li class="home_one_list"><b>Send high-impact</b>
            sales videos that stand
            out in a prospect's inbox and increase
            your reply rate.</li></ul>
          </td>
        </tr>

        <%# Third Row %>
        <tr>
          <td class="home_first_tablecard2">
            <ul><li class="home_one_list"><b>Easily share,</b> demos, whitepapers,
            walkthroughs, and more to guide your
            buyer to next-steps.</li></ul>
          </td>
        </tr>

        <%# Fourth Row %>
        <tr>
          <td class="home_first_tablecard2">
            <ul><li class="home_one_list"><b>Send personalized</b> asynchronous videos
            to reduce the back and forth by <b>85%.</b></li></ul>
          </td>
        </tr>

        <%# Fifth Row %>
        <tr>
          <td class="home_first_tablecard2" id="home_first_right-bottom-table_cell">
            <ul><li class="home_one_list"><b>Record video handoffs</b> to build rapport
            and introduce qualified accounts to later-
            stage sales reps.</li></ul>
          </td>
        </tr>

      </table>
      <%# End of second Table %>

    </div>
    <%# End of Div with both tables %>

    <br /><br /><br />

    <%# Bottom Paragraph %>
    <div class="home_first_bottom_paragraph">
      MORE THAN 12 MILLION PEOPLE ACROSS 250,000 COMPANIES CHOOSE VIDDEX
    </div>

    <div class="home_one_companylogos">
    INSERT COMPANY LOGOS HERE
    </div>
  </div>
</section>
<%# end of first tab %>
