<div class="home_fourth_salestab">

  <div class="home_fourth_salesdivs">

    <%# Header %>
    <div class="home_fourth_header">
      Qualify more leads with <br />
      personalised videos
    </div>

    <br />

    <%# Paragraph %>
    <div class="home_fourth_paragraph">
      Become more memorable in your prospects’ inbox with <br />
      Viddex. Create amazing sales videos for your prospects that <br />
      will put a face to your name in just a few clicks- no video <br />
      creation expertise required.
    </div>

    <br />

    <%# Unordered List %>
    <div class="home_fourth_list">

      <span id="ticks">&#10003;</span> Stand out from the crowd <br />

      <span id="ticks">&#10003;</span> Easily send videos by email, LinkedIn, and more <br />

      <span id="ticks">&#10003;</span> Know who’s watching your videos so you can follow <br />
      &nbsp;&nbsp;&nbsp; up right away

    </div>

    <br />

    <%# Link to Sales Page %>
    <a href="#" class="home_fourth_link">Viddex for Sales &#10132;
    </a>

    <br /><br />

    <%# Quote from user %>
    <div class="home_fourth_quote">
      <i>“No other video vendor is doing what Viddex does. <br />
      The platform is built for sales.” – Morgan Jacobson, Principal <br />
      Manager of Sales Strategy and Systems, HubSpot </i>
    </div>

  </div>
  <%# end of salesdivs class %>

</div>
<%# end of salestab class %>
