<section class="home_fourth_salestab">

  <div class="home_fourth_container">

    <div class="home_fourth_animationplustext">

    <div class="home_fourth_videodiv" id="slideInImage4">
      <img class="home_four_video" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675685585/Images/Untitled_design_22_gowxtw.png">
      </img>
    </div>

    <div class="home_fourth_salesdivs" id="slideInDivs4">

      <%# Header %>
      <div class="home_fourth_header">
        Maximize Lead Qualification with Personalised Videos
      </div>

      <br />

      <%# Paragraph %>
      <div class="home_fourth_paragraph">
        Make a lasting impression with Viddex.
        Effortlessly create engaging sales videos that introduce your brand to prospects with just a few clicks.
        No video production skills needed.
      </div>

      <br />

      <%# Unordered List %>
      <div class="home_fourth_list">

      <ul class="home_one_list">

        <li>Differentiate Yourself</li>

        <li>Conveniently send videos via email and other platforms</li>

        <li>Maximise conversions with tailored, relevant videos for each prospect</li>

      </div>

      </div>

    </div>
  <%# end of salesdivs class %>
  </div>
</section>
<%# end of salestab class %>

<script>

var slideInDiv = document.getElementById('slideInImage4');
var slideInDiv2 = document.getElementById('slideInDivs4');

window.addEventListener('scroll', function() {

  var windowTop = window.pageYOffset + window.innerHeight;

  var slideInDivTop = slideInDiv.getBoundingClientRect().top + window.pageYOffset;

  if (windowTop >= slideInDivTop) {
    slideInDiv.classList.add('slide-in-from-side');
    slideInDiv2.classList.add('slide-in-from-side');
  }

});

</script>
