<%# Beginning of Hero Tab %>
<section class="herotab">

  <div class="home_hero_container">

  <div class="hero_text">

        <h1 class="heroheader">
        Elevate your sales strategy with Viddex
        </h1>

        <p class="heroparagraph">
        Easily connect with potential clients through video, building personal relationships and trust.
        Start closing more deals today with Viddex.
        </p>


        <div class="herobuttons">

          <%# First button %>
          <button class="herobuttonone">
            <div >Sign Up For Free</div>
          </button>

          <%# Second button %>
          <button class="herobuttontwo">
            Get a Demo
          </button>

        </div>

        <div class="herolink">
          <span class="herolinktextone">or &#10143;</span>
          <a href="#" class="herolinktexttwo"> watch a video to see how it works </a>
        </div>

        </div>

        <div>
          <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1673340099/photo_two_8_dw6nri.png" class="hero_mobile_photo">
        </div>

      <div class="htrp">
        <video class ="hero_video" autoplay loop muted>
        <source src="https://res.cloudinary.com/dth8lnhas/video/upload/v1673239354/AdobeStock_513584954_AdobeExpress_1_i1xgcq.mp4" type="video/mp4">
      </div>

      <div class="hero_recordvid">
        <video class ="hero_video2" autoplay loop muted>
        <source src="https://res.cloudinary.com/dth8lnhas/video/upload/v1673348903/R-E-C1_stktxw.mp4" type="video/mp4">
      </div>

  </div>


</section>
