<%# Beginning of Hero Tab %>
<section class="herotab">

  <div class="container">

    <div class="flex space-between">

      <div class="col-xs-12 col-md-7 col-lg-6 htlp">
          <%# Header %>
        <h1 class="heroheader">Elevate your sales strategy with Viddex</h1>

          <%# Paragraph under Header %>
        <p class="heroparagraph">
        Easily connect with potential clients through video, building personal relationships and trust. <br><br>
        Start closing more deals today with Viddex.
        </p>

        <br />

        <%# Two buttons %>
        <div class="herobuttons">

          <%# First button %>
          <button class="herobuttonone">
            <div >Sign up for free</div>
          </button>

          <%# Second button %>
          <button class="herobuttontwo">
            Get a Demo
          </button>

        </div>
        <%# End of buttons %>

        <br />

        <%# A Link to a video demonstration %>
        <div class="herolink">
          <span class="herolinktextone">or &#10143;</span>
          <a href="#" class="herolinktexttwo"> watch a video to see how it works </a>
        </div>

        <div>
          <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1671188976/REC_mgs3a1.png" class="hero_mobile_photo">
        </div>

      </div>

      <div class="htrp">
        <video class ="hero_video" autoplay loop muted>
        <source src="https://www.vidyard.com/wp-content/themes/vidyard-website/videos/homepage.mp4" type="video/mp4">
      </div>

    </div>
      <%# end of hero inner %>



  </div>
    <%# End of hero_content class %>

</section>
