<%# Beginning of Hero Tab %>
<div class="herotab">

<div class="hero_content">

  <div class="hero_inner">

  <%# Header %>
  <div class="heroheader">
    Sales Video <br />
    Software that <br />
    Closes More Deals
  </div>

  <br />

  <%# Paragraph under Header %>
  <div class="heroparagraph">
    Easily create and share personalized videos throughout your entire
    sales cycle. Communicate better with prospects, customers, and
    teams to generate more leads and close more deals.
  </div>

  <br />

  <%# Two buttons %>
  <div class="herobuttons">

    <%# First button %>
    <button class="herobuttonone">
      <div >Add to Chrome. It's Free</div>
    </button>

    <%# Second button %>
    <button class="herobuttontwo">
      Get a Demo
    </button>

  </div>
  <%# End of buttons %>

  <br />

  <%# A Link to a video demonstration %>
  <div class="herolink">
    <span class="herolinktextone">or &#10143;</span>
    <a href="#" class="herolinktexttwo"> watch a video to see how it works </a>
  </div>

  <div>
    <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1671188976/REC_mgs3a1.png" class="hero_mobile_photo">
    </img>
  </div>

  </div>
  <%# end of hero inner %>

  <div class="hero_video">
  <video autoplay loop muted>
  <source src="https://res.cloudinary.com/dth8lnhas/video/upload/c_scale,w_398/v1671512686/final_63a06a2dd3fb99037994555f_3520_zymtz9.mp4" type="video/mp4">
  </div>

  </div>
  <%# End of hero_content class %>

</div>
<%# End of Hero Tab %>
