<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/barlow" type="text/css"/>

<section class="herotab" id="herobox">

  <div class="home_hero_container">

  <div class="hero_text" id="hero-div">

        <div class="heroheader">
          <h1 style="color:white;font-size:larger">Sales videos, <br><strong>made simple!</h1></strong>
        </div>

        <p class="heroparagraph">
  Viddex is a platform built to help sales teams create relevant, engaging video content in a fraction of the time
        </p>


        <div class="herobuttons">

          <%# First button %>
          <button class="herobuttonone">
            <div> <%= link_to "Get Started", new_user_registration_path, style:"color:white" %> </div>
          </button>


          <%# Second button %>
          <a href="<%= contactus_path %>"><button class="herobuttontwo">
            Watch video
          </button> </a>
        </div>


        <%#<div class="herolink">
          <span class="herolinktextone">or &#10143;</span>
          <a href="#" class="herolinktexttwo"> watch a video to see how it works </a>
        </div> %>

        </div>

        <div>
          <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675752412/Images/Untitled_design_24_pfnqpm.png" class="hero_mobile_photo" id="hero-photo">
        </div>

      <div>
        <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675836043/Images/photo_two_4_sqjdq8.png" class="hero_video" id="hero-photo2">
      </div>

      <div>
        <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675905087/Images/photo_two_6_aek8ie.png" class="hero-image-2" id="hero-photo3">
      </div>

  </div>


</section>

<script>

var fadeInDiv3 = document.getElementById('hero-photo');
var fadeInDiv4 = document.getElementById('hero-photo2');
var fadeInDiv5 = document.getElementById('hero-div');
var fadeInDiv6 = document.getElementById('hero-photo3');


window.addEventListener('scroll', function() {

  var windowTop3 = window.pageYOffset + window.innerHeight;

  var fadeInDivTop3 = fadeInDiv3.getBoundingClientRect().top + window.pageYOffset;

  if (windowTop3 >= fadeInDivTop3) {
    fadeInDiv3.classList.add('fade-into-user-view');
  }

});

  function showtopdivs() {
    fadeInDiv4.classList.add('fade-into-user-view');
    fadeInDiv5.classList.add('fade-into-user-view');
    fadeInDiv6.classList.add('fade-into-user-view');
  }

  window.onload(showtopdivs());

</script>
