<section class="agency_featured_area agency_featured_area_two  bg_color2">
    <div class="container">
      <div class="horizontal-center">
        <h2 class="f_size_30 f_600 t_color3 l_height40 text-center wow fadeInUp" data-wow-delay="0.1s">Watch our video to see Viddex in action</h2>
        <div>
          <iframe class="yt_vid_box" src="https://www.youtube.com/embed/tvQDB8BU-rI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
</section>
