<div class="home_second_tab_div">

  <div class="home_second_tab_div_inner">

    <%# Tab Title %>
    <div class="home_second_title">
      TEMPLATE HUB
    </div>

    <%# Header %>
    <div class="home_second_header">
      Try Our Ready-To-Record <br /> Video Templates
    </div>

    <br />

    <%# Paragraph %>
    <div class="home_second_paragraph">
      From video prospecting and introductions to deal <br />
      progression, sales demos, follow-up templates and more, <br />
      explore our collection of free video templates perfect for <br />
      every stage of the sales cycle.
    </div>

    <br />

    <%# Link to templates %>
    <a href="#" class="home_second_link">
      View all Templates &#10132;
    </a>

  </div>

</div>
<%# End of second tab %>

<br /><br /><br /><br />
