<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="home_sixth_faqtab">

  <div class="home_sixth_container">

  <div class="home_sixth_faqdivs">

    <div class="home_sixth_faqdivs2">

    <div class="home_sixth_header">
      Get Answers to your Viddex FAQs
    </div>

    <br />

    <div class="home_sixth_paragraph">
      Do you have enquiries concerning Viddex's video platform, costs, or sign-up procedure?
      We have answers for any of your questions.
    </div>

    <br />

    <a href="#" class="home_sixth_button">
      <i class='fa-solid fa-hand-point-right'></i> Read our FAQs Here <i class='fas fa-hand-point-left'></i>
    </a>

    </div>

  </div>
  <%# end of end of faqdivs class %>

  <div class="home_sixth_photo_div">
    <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675682218/Untitled_design_19_gndut2.png" class="home_sixth_photo">
  </div>

  </div>
  <%# end of container class %>

</div>
<%# end of faqtab class %>
