<div class="home_sixth_faqtab">

  <div class="home_sixth_faqdivs">

    <div class="home_sixth_header_bubble">
      NEW
    </div>

    <div class="home_sixth_header">
      Get Answers to your Viddex FAQs
    </div>

    <br />

    <div class="home_sixth_paragraph">
      Have questions about Viddex’s video platform, pricing, or onboarding <br />
      process? We’ve got the A’s to all your Q’s.
    </div>

    <br />

    <a href="#" class="home_sixth_button">
      Watch the Video
    </a>

  </div>
  <%# end of end of faqdivs class %>

</div>
<%# end of faqtab class %>
