<div class="home_sixth_faqtab">

  <div class="home_sixth_container">

  <div class="home_sixth_faqdivs">

    <div class="home_sixth_header_bubble">
      NEW
    </div>

    <div class="home_sixth_faqdivs2">

    <div class="home_sixth_header">
      Get Answers to your Viddex FAQs
    </div>

    <br />

    <div class="home_sixth_paragraph">
      Have questions about Viddex’s video platform, pricing, or onboarding
      process? We’ve got the A’s to all your Q’s.
    </div>

    <br />

    <a href="#" class="home_sixth_button">
      Watch the Video
    </a>

    </div>

  </div>
  <%# end of end of faqdivs class %>

  <div class="home_sixth_photo_div">
    <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1672807310/background2_qddul4.png" class="home_sixth_photo">
  </div>

  </div>
  <%# end of container class %>

</div>
<%# end of faqtab class %>
