<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="home_sixth_faqtab">

  <div class="home_sixth_container">

  <div class="home_sixth_faqdivs" id="slideInDivs6">

    <div class="home_sixth_faqdivs2">

    <div class="home_sixth_header">
      Get Answers to your Viddex FAQs
    </div>

    <br />

    <div class="home_sixth_paragraph">
      Do you have enquiries concerning Viddex's video platform, costs, or sign-up procedure?
      We have answers for any of your questions.
    </div>

    <br />

    <a href="#" class="home_sixth_button">
      <i class='fa-solid fa-hand-point-right'></i> Read our FAQs Here <i class='fas fa-hand-point-left'></i>
    </a>

    </div>

  </div>
  <%# end of end of faqdivs class %>

  <div class="home_sixth_photo_div" id="slideInImage6">
    <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675682218/Images/Untitled_design_19_gndut2.png" class="home_sixth_photo">
  </div>

  </div>
  <%# end of container class %>

</div>
<%# end of faqtab class %>

<script>

var slideInDiv_two = document.getElementById('slideInImage6');
var slideInDiv2_two = document.getElementById('slideInDivs6');

window.addEventListener('scroll', function() {

  var windowTop_two = window.pageYOffset + window.innerHeight;

  var slideInDivTop_two = slideInDiv_two.getBoundingClientRect().top + window.pageYOffset;

  if (windowTop_two >= slideInDivTop_two) {
    slideInDiv_two.classList.add('slide-in-from-side');
    slideInDiv2_two.classList.add('slide-in-from-side');
  }

});

</script>
