<section class="agency_testimonial_area bg_color sec_pad">
             <div class="container">
                 <h2 class="f_size_30 f_600 t_color3 l_height40 text-center mb_60 wow fadeInUp" data-wow-delay="0.8s">
                    We've heard things like</h2>
                  <div class="agency_testimonial_info">
                    <div class="testimonial_slider owl-carousel">
                        <div class="testimonial_item text-center left">
                            <div class="author_img"><img style="width:70px" src="https://media.licdn.com/dms/image/D4E03AQGf5pXvppAuTw/profile-displayphoto-shrink_800_800/0/1684555844614?e=1694649600&v=beta&t=UnsqlEqgC6x_jeKFKU_0LF-czsN5Aokl7VcTiR-so40" alt=""></div>
                            <div class="author_description">
                                <h4 class="f_500 t_color3 f_size_18">Colin Stewart</h4>
                                <h6>Cofounder @ Rightwork</h6>
                            </div>
                            <p>Being from a non sales background I significantly underestimated how difficult sales prospecting was.
                            Using Viddex enabled us to stand out and showcase our product in a way that other tools couldn't. I believe
                            that it definitely helped us land our first few clients</p>
                        </div>
                        <div class="testimonial_item text-center center">
                            <div class="author_img"><img style="width:70px" src="https://media.licdn.com/dms/image/C4D03AQFnRZUiItR4pQ/profile-displayphoto-shrink_800_800/0/1644344550683?e=1694649600&v=beta&t=gEjg4Qti9TGNQy0p-eGvf3nXaD_9ip3iCn31cco7FIo" alt=""></div>
                            <div class="author_description">
                                <h4 class="f_500 t_color3 f_size_18">Rudy Lai</h4>
                                <h6>Cofounder @ Tactic</h6>
                            </div>
                            <p>My sales team absolutely love Viddex. It takes our SDR's about 15 seconds to create a unique prospecting video.
                            Their response rates have gone up significantly</p>
                        </div>
                        <div class="testimonial_item text-center right">
                            <div class="author_img"><img style="width:70px" src="https://media.licdn.com/dms/image/C4D03AQFyrJnVNmvnGg/profile-displayphoto-shrink_800_800/0/1614795360164?e=1694649600&v=beta&t=CeLYXRS6_2Xd6FkA7hAcqvud9siZsy8BmAQvzr0QJK0" alt=""></div>
                            <div class="author_description">
                                <h4 class="f_500 t_color3 f_size_18">Mason Gorman</h4>
                                <h6>SDR team lead @ GoCardless</h6>
                            </div>
                            <p>Standing out in the inbox of C-suite prospects has always been a challenge. We tried other video prospecting tools
                            but we found them too time consuming. Viddex really solved that problem to the extent where its easier for my team to create a video
                            than it is to craft an email</p>
                        </div>
                        <div class="testimonial_item text-center">
                            <div class="author_img"><img style="width:70px" src="https://media.licdn.com/dms/image/C5603AQEtfNFkGTJj4Q/profile-displayphoto-shrink_800_800/0/1566193796638?e=1694649600&v=beta&t=0M06snh-f1N5NC0c9YrcH0rtdoGt9oo1cSQ-X86-y5c" alt=""></div>
                            <div class="author_description">
                                <h4 class="f_500 t_color3 f_size_18">Hugo Rajotte</h4>
                                <h6>VP of growth @ Indebted</h6>
                            </div>
                            <p>In typical prospecting you have email which is highly scalable but saturated. You also have video
                            which is stands out but unscalable. Viddex manages to find a happy mix between the two and we love using it</p>
                        </div>
                    </div>
              </div>


            <%# <div id="carouselExampleDark" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="flex column">
                    <div class="horizontal-center"><img src="https://media.licdn.com/dms/image/C4D03AQFyrJnVNmvnGg/profile-displayphoto-shrink_800_800/0/1614795360164?e=1694649600&v=beta&t=CeLYXRS6_2Xd6FkA7hAcqvud9siZsy8BmAQvzr0QJK0" class="d-block avatar-carousel" alt="..."></div>
                    <div class="carousel-caption-2  d-md-block">
                      <h5>First slide label</h5>
                      <p>Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <div class="flex column">
                    <div class="horizontal-center"><img src="https://media.licdn.com/dms/image/C4D03AQFyrJnVNmvnGg/profile-displayphoto-shrink_800_800/0/1614795360164?e=1694649600&v=beta&t=CeLYXRS6_2Xd6FkA7hAcqvud9siZsy8BmAQvzr0QJK0" class="d-block avatar-carousel" alt="..."></div>
                    <div class="carousel-caption-2  d-md-block">
                      <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="flex column">
                    <div class="horizontal-center"><img src="https://media.licdn.com/dms/image/C4D03AQFyrJnVNmvnGg/profile-displayphoto-shrink_800_800/0/1614795360164?e=1694649600&v=beta&t=CeLYXRS6_2Xd6FkA7hAcqvud9siZsy8BmAQvzr0QJK0" class="d-block avatar-carousel" alt="..."></div>
                    <div class="carousel-caption-2  d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> %>
  </div>
</section>
