<div class="home_third_tab">

  <div class="home_third_container" id="home_third_containerId">

    <div class="home-third-header">
      <h2>How is Viddex different</h2>
    </div>
    <p>Most video tools take forever to create a single video. Viddex allows you to create and send unique, relevant videos for your potential clients in just seconds.
      Imagine the possibilities if you could send 100+ videos per day. Sign up for Viddex and start seeing the results for yourself.</p>


    <div class="home-third-boxes">

      <div class="home-third-single-box">
        <img class="home-third-box-image" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675738082/Images/viddex_15_gk0hmh.png"></img>
        <div class="home-third-box-header">Record your content</div>
        <div class="home-third-box-text">
          Record multiple videos based on common topics that you discuss with yout prospects, eg, industry pain points, trends, value proposition.
        </div>
      </div>

      <div class="home-third-single-box">
        <img class="home-third-box-image" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675737887/Images/viddex_14_lkbla9.png"></img>
        <div class="home-third-box-header">Generate a project</div>
        <div class="home-third-box-text">
          Create a bespoke video for your prospect using your pre-recorded snippets. Think of this like using lego blocks to build your ideal project.
        </div>
      </div>

      <div class="home-third-single-box">
        <img class="home-third-box-image" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1675739255/Images/viddex_17_owb7bf.png"></img>
        <div class="home-third-box-header">Send to your prospect</div>
        <div class="home-third-box-text">
          Send the complete project to your prospect with ease.
        </div>
      </div>

    </div>
     <div class="home-third-header">
      <h2>Watch the video here</h2>
    </div>

  </div>

</div>

<script>

var fadeInDiv = document.getElementById('home_third_containerId');

window.addEventListener('scroll', function() {

  var windowTop = window.pageYOffset + window.innerHeight;

  var fadeInDivTop = fadeInDiv.getBoundingClientRect().top + window.pageYOffset;

  if (windowTop >= fadeInDivTop) {
    fadeInDiv.classList.add('fade-into-user-view');
  }

});

</script>
