<section class="agency_service_area">
            <div class="container">
              <div class="section_two_header">
                <div class="section_two_header_box mb_70">
                  <h2 class="h2_section_two text-center wow fadeInUp" data-wow-delay="0.2s">Let's face it, sales emails go unread most of the time</h2>
                  <p class=" text-center wow fadeInUp" data-wow-delay="0.2s">Incorporating video into your sales prospecting strategy can help you stand out from the crowd, engage prospects on a deeper level, and ultimately increase your conversion rates </p>
                </div>
              </div>
                <div class="features_info feature_info_two">
                  <%# <%= image_tag "dot.png", alt: "", class: "dot_img" %>
                    <%# <img class="dot_img" src="/app/assets/images/dot" alt="dot.png"> %>
                    <div class="row agency_featured_item flex-row-reverse">
                        <div class="col-lg-6">
                            <div class="agency_featured_img text-end wow fadeInRight" data-wow-delay="0.2s">
                                <img class="landing-img-md" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676440243/Images/Add_a_little_bit_of_body_text_5_djevzw.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="agency_featured_content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.4s">
                                <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                                <%# <img class="number" src="img/home4/icon01.png" alt=""> %>
                                <h3>Stand out from the crowd</h3>
                                <p>How many sales emails do you think your prospects get in an average day?
                            Videos are inherently <strong class="bold-brand">attention-grabbing.</strong> They offer a
                            more interactive and dynamic experience that holds viewers' interest for longer periods</p>
                                <a href="/users/sign_up" class="btn_hover agency_banner_btn ">Sign up for free</a>
                            </div>
                        </div>
                    </div>
                    <div class="row agency_featured_item agency_featured_item_two">
                        <div class="col-lg-6">
                            <div class="agency_featured_img text-end wow fadeInLeft" data-wow-delay="0.2s">
                                <img class="landing-img-md" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676605254/Images/photo_two_11_naz47l.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="agency_featured_content pl_100 wow fadeInRight" data-wow-delay="0.4s">
                                <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                                <%# <img class="number" src="img/home4/icon02.png" alt=""> %>
                                <h3>Build trust and credibility</h3>
                                <p>Seeing and hearing a real person behind the message helps <strong class="bold-brand">
                                  build a connection,</strong> fosters trust and shows off your personality.
                                  This personal touch can make a significant impact on your prospect's perception of your brand</p>
                                <a href="/users/sign_up" class="btn_hover agency_banner_btn ">Sign up for free</a>
                            </div>
                        </div>
                    </div>
                    <%# <div class="dot middle_dot"><span class="dot1"></span><span class="dot2"></span></div> %>
                      <%# <img class="dot_img" src="img/home8/dot.png" alt=""> %>
                    <div class="row agency_featured_item flex-row-reverse">
                        <div class="col-lg-6">
                            <div class="agency_featured_img text-end wow fadeInRight" data-wow-delay="0.2s">
                                <img class="landing-img-md" src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676440243/Images/Add_a_little_bit_of_body_text_5_djevzw.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="agency_featured_content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.4s">
                                <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                                <%# <img class="number" src="img/home4/icon01.png" alt=""> %>
                                <h3>Captivate visual communication</h3>
                                <p>'What you say' only makes up a small part of your overall message.
                                  With video, you can <strong class="bold-brand">share your personality</strong>
                                  through body language and tone. Something that doesn't exist over email</p>
                                <a href="/users/sign_up" class="btn_hover agency_banner_btn ">Sign up for free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
