<section class="agency_service_area">
            <div class="container">
              <div class="section_two_header">
                <div class="section_two_header_box mb_70">
                  <h2 class="h2_section_two text-center wow fadeInUp" data-wow-delay="0.2s">Let's face it, sales emails go unread most of the time</h2>
                  <p class=" text-center wow fadeInUp" data-wow-delay="0.2s">Incorporating video into your sales prospecting strategy can help you stand out from the crowd, engage prospects on a deeper level, and ultimately increase your conversion rates </p>
                </div>
              </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item agency_service_item pr_70 wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="icon">
                                <img src="https://res.cloudinary.com/dth8lnhas/image/upload/c_thumb,w_80,g_face/v1689119294/garlqgrgauwyvc6ntcsn.jpg" alt="">
                                <%# <i class="ti-panel"></i> %>
                            </div>
                            <h5 class="f_600 f_p t_color3">Enhance engagement and attention</h5>
                            <p>How many sales emails do you think your prospects get in an average day?
                            Videos are inherently <strong class="bold-brand">attention-grabbing.</strong> They offer a more interactive and dynamic experience that holds viewers' interest for longer periods</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item agency_service_item pl_20 pr_70 wow fadeInLeft"
                            data-wow-delay="0.3s">
                            <div class="icon">
                                <img src="https://res.cloudinary.com/dth8lnhas/image/upload/c_thumb,w_80,g_face/v1689121689/vv9r4qzcsyb27ksgfkvm.jpg" alt="">
                                <%# <i class="ti-layout-grid2"></i> %>
                            </div>
                            <h5 class="f_600 f_p t_color3">Build trust and credibility</h5>
                            <p>Seeing and hearing a real person behind the message helps <strong class="bold-brand">build a connection,</strong> fosters trust and shows off your personality.
                              This personal touch can make a significant impact on your prospect's perception of your brand</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item agency_service_item pl_20 pr_70 wow fadeInLeft"
                            data-wow-delay="0.4s">
                            <div class="icon">
                                <img src="https://res.cloudinary.com/dth8lnhas/image/upload/c_thumb,w_80,g_face/v1689121894/iwykyz4yqjfnwpub3ofn.jpg" alt="">
                                <%# <i class="ti-gallery"></i> %>
                            </div>
                            <h5 class="f_600 f_p t_color3">Captivate visual communication</h5>
                            <p>'What you say' only makes up a small part of your overall message.
                            With video, you can <strong class="bold-brand">share your personality</strong> with body language and tone. Something that doesn't exist over email</p>
                        </div>
                    </div>
                    <a class="btn_get_three btn_hover" id="sl_nav_btn" style="margin-top:30px" href="/users/sign_up">Learn more about the value of video</a>
                </div>
            </div>
        </section>
