<section class="agency_about_area d-flex bg_color">
            <div class="col-lg-6 about_content_left ">
                <div class="about_content mb_30">
                    <h2 class="f_size_30 f_700 l_height45 mb_20">Why Viddex?</h2>
                    <div class="flex">
                      <h4 class="col-white"><i class="bi bi-calendar-week mr10"></i></h4>
                      <div class="flex row">
                        <h4 class="col-white"><strong>Increase your meeting booking rate</strong></h4>
                        <p>Video prospecting is 30% more likely to land you a meeting when compared to text based email</p><br>
                      </div>
                    </div>
                    <div class="flex">
                      <h4 class="col-white"><i class="bi bi-calendar-week mr10"></i></h4>
                      <div class="flex row">
                        <h4 class="col-white"><strong>Save time </strong></h4>
                        <p>Up tp 95% time reduction to create a video compared to other video prospecting tools</p><br>
                      </div>
                    </div>
                    <div class="flex">
                      <h4 class="col-white"><i class="bi bi-calendar-week mr10"></i></h4>
                      <div class="flex row">
                        <h4 class="col-white"><strong>Close more deals </strong></h4>
                        <p>A higher meeting rate percentage combined with greater output equals more deals</p>
                      </div>
                    </div>
                    <%# <p class="f_size_15 f_400">
                      <ul>
                        <li><strong>Increase your meeting booking rate -</strong> Video prospecting is 30% more likely to land you a meeting when compared to text based email  </li><br>
                        <li><strong>Save time -</strong> Up tp 95% time reduction to create a video compared to other video prospecting tools</li><br>
                        <li><strong>Close more deals -</strong> A higher meeting rate percentage combined with greater output equals more deals</li><br>
                    </ul>Imagine your results if you could send 100+ personalised videos per day.</p> %>
                    <a href="/users/sign_up" class="about_btn btn_hover mt_40">Sign up for free</a>
                </div>
            </div>
            <div class="col-lg-6 about_img">
                <div class="about_img_slider owl-carousel">
                    <div class="item">
                        <div class="about_item w45">
                            <img src="https://res.cloudinary.com/dth8lnhas/image/upload/e_improve,w_300,h_600,c_thumb,g_auto/v1676246971/Images/Untitled_design_41_tb6e5m.png" alt="">
                            <div class="about_text">
                                <span class="br"></span>
                                <h5 class="f_size_18 l_height28 mb-0">Why I say old chap that is spiffing bodge, blag
                                    pardon.</h5>
                            </div>
                        </div>
                        <a href="/pricing">
                        <div class="about_item w55">

                            <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676246971/Images/Untitled_design_41_tb6e5m.png" alt="">

                            <div class="about_text text_two">
                                <span class="br"></span>
                                <h5 class="f_size_18 l_height28 mb-0">Oxford butty bubble and squeak wind up, brown
                                    bread the full monty.</h5>
                            </div>
                        </div>
                        </a>
                        <div class="about_item w55">
                            <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676246971/Images/Untitled_design_41_tb6e5m.png" alt="">
                            <div class="about_text text_two">
                                <span class="br"></span>
                                <h5 class="f_size_18 l_height28 mb-0">Starkers dropped a clanger lurgy is cack excuse my
                                    French what.</h5>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <%# <div class="about_item w45">
                            <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676246971/Images/Untitled_design_41_tb6e5m.png" alt="">
                            <div class="about_text">
                                <span class="br"></span>
                                <h5 class="f_size_18 l_height28 mb-0">Why I say old chap that is spiffing bodge, blag
                                    pardon.</h5>
                            </div>
                        </div> %>
                        <div class="about_item w55">
                            <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676246971/Images/Untitled_design_41_tb6e5m.png" alt="">
                            <div class="about_text text_two">
                                <span class="br"></span>
                                <h5 class="f_size_18 l_height28 mb-0">Oxford butty bubble and squeak wind up, brown
                                    bread the full monty.</h5>
                            </div>
                        </div>
                        <div class="about_item w55">
                            <img src="https://res.cloudinary.com/dth8lnhas/image/upload/v1676246971/Images/Untitled_design_41_tb6e5m.png" alt="">
                            <div class="about_text text_two">
                                <span class="br"></span>
                                <h5 class="f_size_18 l_height28 mb-0">Starkers dropped a clanger lurgy is cack excuse my
                                    French what.</h5>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </section>
