.project-card{
  background: aliceblue;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.project-card:hover{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.copy-img{
  max-width: 476px;
}

.project-gif{
  width: 476px;
}

.audio-card{
  background: white;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.thumbnail-image{
  border: 5px solid black;
  border-radius: 10px;
}
