#form-input-string{
  color: #6754e2;
  border: 2px solid #ccc5fa;
  border-radius: 4px;
  box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
  transform: perspective(1px) translateZ(0);
}
.form-input-string{
  color: #6754e2;
  border: 2px solid #ccc5fa;
  border-radius: 4px;
  box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
  transform: perspective(1px) translateZ(0);
}

.message_styling{
  height: 30px;
  width: 250px;

}

#message-input{
  min-height: 100px;
  color: #6754e2;
  border: 2px solid #ccc5fa;
  border-radius: 4px;
  box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
  transform: perspective(1px) translateZ(0);
}

.dropdown-menu-original{
  display:none;
  }

.project-grid{
  display: grid;
  grid-template-areas: none;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px;
}
.project-grid-c4{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  grid-area: initial;
  grid-column-start: span 4;
}
.project-grid-c8{
  grid-area: initial;
  grid-column-start: span 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-content-box{
  padding: 40px 40px 40px 40px;
  border-top: 1px solid lightgray;
  min-height: 60vh;
}

.fl-cl-sb{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .thumbnails{
  width:150px;
  height:90px;
  padding-bottom:10px;
  transition: all 0.3s ease-in-out;
  }

  .thumbnail_select{
    border-radius:10px;
    border: 1px solid #F4F4F4;
    padding: 10px;
  }

  .thumbnail_select:hover{
    border: 1px solid #ced4da;
    cursor: pointer;
  }

  #thumbnail-button{
  border-radius: 10px;
  width: 25%;
  background-color: #F4F4F4;
  border: 1px solid #ced4da;
  padding-top: 10px;
  padding-bottom: 10px;
  }

  .showthumbs{
  list-style:none;
  background-color:grey;
  padding-left: 10px;
  padding-right:10px;
  padding-top:10px;
  border-radius:2%;
  background-color: #F4F4F4;
  border: 1px solid #ced4da;
  overflow-y:scroll;
  max-height:360px;
  max-width:395px;
  }

  @media (min-width: 1046px) {

    .showthumbs{
      position: absolute;
      z-index: 100;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
      grid-column-gap:10px;
      grid-row-gap:10px;
      left:635px;
      top:212px;
    }

    #thumbnail-button{
      margin-top: -20px;
      }

  }

  @media (min-width: 866px) and (max-width: 1045.9px ) {

    .showthumbs{
      position: absolute;
      z-index: 100;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
      grid-column-gap:20px;
      grid-row-gap:10px;
      left:635px;
      top:212px;
    }

    #thumbnail-button{
      margin-top: -20px;
      }

    }

  @media (max-width:  865.9px) {

    .showthumbs{
      display: flex;
      flex-direction: column;
      width:210px;
      gap: 10px;
    }

    .thumbnail_select{
      width:170px;
    }

    #thumbnail-button{
      margin-top: -10px;

      }

  }
