// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.btn-font{
  border: none;
  background-color: transparent;
}
.btn-font:hover{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
}
.flex{
  display: flex;
}

.center{
  justify-content: center;
}
.center-auto{
  margin: auto;
}

.flex-left{
  width: 18%;
}

.form-add-btn{
  width: 30%;
  border-radius: 10px;
  height: 100px;
}

.form-input-medium{
  border-radius: 10px;
  width: 250px;
  margin-top: -8px;
}
.form-input-small{
  border-radius: 10px;
  width: 216px;
  margin-top: -8px;
}
.form-input-100{
  border-radius: 10px;
  width: 100%;
  margin-top: -8px;
}
.blue-switch{
  color: blue;
  border-color: blue;
}
.hidden{
  display: none;
}
.image-100 img{
  max-width: 100%;
}
.tal{
  text-align: left;
}
.mb-16{
  margin-bottom: 16px;
}
.mr10{
  margin-right: 10px;
}

.ml10{
  margin-left: 10px;
}

.pl20{
  padding-left: 20px;
}

.pt10{
  padding-top: 10px;
}
.space-around{
  justify-content: space-around;
}
.space-between{
  justify-content: space-between;
}

.up-btn{
  width: 70%;
  border-radius: 5px;
  height: 38px;
  background-color: cornflowerblue;
  border: solid 1px grey;
}
.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: cover;
  top: 0;
  z-index: -2;
 }

 .section{
  overflow: hidden;
 }

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width:$tablet){
    max-width: 720px;
  }
  @media (min-width:$laptop){
    max-width: 940px;
  }
  @media (min-width:$screen){
    max-width: 1200px;
  }

}
.row{
  margin-left: -15px;
  margin-right: -15px;
}
.title-bold-60{
  font-size: 60px;
  font-weight: 600;
}
.twirl-bg{
  background-image: url('https://res.cloudinary.com/dth8lnhas/image/upload/v1673337073/Backgrounds/photo_two_7_xvtvh6.png');
  background-position: top;
  background-repeat: no-repeat;
}

.wrap{
  flex-wrap: wrap;
}
