.drag-drop-file{
  cursor: pointer;
  background: white;
  font: 500 14px/47px "Poppins", sans-serif;
  color: #6754e2;
  border: 2px solid #ccc5fa;
  border-radius: 4px;
  box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
  padding: 0px 23px;
  text-align: center;
  height: 100px;
}

.form-container{
  width: 400px;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  background: whitesmoke;
}
.form-container-50{
  width: 50%;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  background: whitesmoke;
}
.form-container-100{
  width: 100%;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  background: whitesmoke;
}

.form-btn-25{
  width: 25%;
  padding: 4px;
  border: 1px solid lightgrey;
}
