<%# <div class="navbar show-nav"> %>
<div class="navbar" style="background-color:rgb(47,65,57)">
  <div class="container-fluid">
    <%= link_to "#", class: "ps-navbar-brand" do %>
      <% favlink = @project.user.email.partition("@")[2] %>
      <%# <%= image_tag "https://sore-fuchsia-tiger.faviconkit.com/"+favlink+"/60", width: 44 %>
      <img style="margin:10px" src="https://images.ctfassets.net/40w0m41bmydz/2ofhncz5s8m2SmU6KoBKWD/eb0818ad0479c3b205e8effb4328e422/Web_negative.png?w=150&h=23&q=50&fm=png" alt="">
    <% end %>
  </div>
</div>
