<%# <div class="navbar show-nav"> %>
<div class="navbar" style="background-color:#6200ea">
  <div class="container-fluid">
    <%= link_to "#", class: "ps-navbar-brand" do %>
      <% favlink = @project.user.email.partition("@")[2] %>
      <%# <%= image_tag "https://sore-fuchsia-tiger.faviconkit.com/"+favlink+"/60", width: 44 %>
      <img style="margin:4px;height:50px" src="https://maddyness-uk.twic.pics/2023/05/Screenshot-2023-05-24-at-10.30.24.png?twic=v1/resize=630" alt="">
    <% end %>
  </div>
</div>
